Repository exonum/exonum, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aleksuss, @alekseysidorov, @qvantor, @pavel-mukhanov, @slowli, @popzxc, @ozkriff

add parameters description
  services/configuration/doc/testnet-api-tutorial.md
Owners: @aleksuss, @alekseysidorov

Compile cryptocurrency-advanced on new rails
  examples/cryptocurrency-advanced/backend/src/lib.rs
  examples/cryptocurrency-advanced/backend/src/main.rs
  examples/cryptocurrency-advanced/backend/src/transactions.rs
Owners: @aleksuss, @alekseysidorov

Refactor code a bit
  examples/cryptocurrency-advanced/backend/src/lib.rs
Owners: @aleksuss, @alekseysidorov

Make time service compile
  services/time/src/lib.rs
  services/time/src/transactions.rs
Owners: @aleksuss, @alekseysidorov

Make timestamping service compile
  examples/timestamping/backend/src/lib.rs
  examples/timestamping/backend/src/main.rs
  services/time/src/lib.rs
Owners: @aleksuss, @alekseysidorov

Broke testkit until rework
  testkit/server/src/main.rs
  testkit/src/lib.rs
Owners: @aleksuss, @alekseysidorov

Update cpsell and markdownlint modules (#1307)
  CHANGELOG.md
  cspell.sh
  package-lock.json
  package.json
  services/configuration/doc/response-samples.md
Owners: @aleksuss, @alekseysidorov

Use unbounded channel for rest api requests (#1308)
  CHANGELOG.md
  exonum/benches/criterion/block.rs
  exonum/benches/criterion/transactions.rs
  exonum/src/api/node/private/mod.rs
  exonum/src/blockchain/tests.rs
  exonum/src/blockchain/transaction.rs
  exonum/src/events/mod.rs
  exonum/src/messages/authorization.rs
  exonum/src/node/mod.rs
  exonum/src/sandbox/mod.rs
  exonum/tests/explorer/blockchain/mod.rs
  testkit/src/lib.rs
Owners: @aleksuss, @alekseysidorov, @pavel-mukhanov, @popzxc, @slowli

Remove debug code (#1310)
  exonum/src/messages/protocol.rs
Owners: @aleksuss, @alekseysidorov

Optimize the tutorial
  services/configuration/doc/testnet-api-tutorial.md
Owners: @aleksuss, @alekseysidorov

Add len to MapIndex and ProofMapIndex
  CHANGELOG.md
  components/merkledb/src/map_index.rs
  components/merkledb/src/proof_map_index/mod.rs
  components/merkledb/src/proof_map_index/tests.rs
  services/configuration/src/lib.rs
Owners: @aleksuss, @alekseysidorov

Remove redundant BinaryAttribute impl for ProofPath
  components/merkledb/src/proof_map_index/mod.rs
Owners: @aleksuss, @alekseysidorov

Fix changelog
  CHANGELOG.md
Owners: @aleksuss, @alekseysidorov

Fix review comments
  components/merkledb/src/db.rs
Owners: @aleksuss, @alekseysidorov

Fix clippy
  components/merkledb/src/map_index.rs
  components/merkledb/src/proof_map_index/mod.rs
Owners: @aleksuss, @alekseysidorov

Fix typo
  components/merkledb/src/db.rs
Owners: @aleksuss, @alekseysidorov

Optimize testnet tutorial (#1311)
  services/configuration/doc/testnet-api-tutorial.md
Owners: @aleksuss, @alekseysidorov

Fix fork documentation (#1309)
  components/merkledb/src/db.rs
Owners: @aleksuss, @alekseysidorov

Update some dependencies
  components/derive/Cargo.toml
  components/merkledb/Cargo.toml
  components/merkledb/src/proof_list_index/tests.rs
  examples/cryptocurrency-advanced/backend/Cargo.toml
  examples/cryptocurrency/Cargo.toml
  examples/timestamping/backend/Cargo.toml
  exonum/Cargo.toml
  services/configuration/Cargo.toml
  services/configuration/src/lib.rs
  services/time/Cargo.toml
Owners: @aleksuss, @alekseysidorov, @pavel-mukhanov, @popzxc, @slowli

fix testet docs
  examples/cryptocurrency-advanced/README.md
  examples/timestamping/README.md
  services/configuration/doc/testnet-api-tutorial.md
Owners: @aleksuss, @alekseysidorov, @popzxc, @ozkriff

fix lint
  exonum-dictionary.txt
Owners: @aleksuss, @alekseysidorov

Update some dependencies (#1315)
  components/derive/Cargo.toml
  components/merkledb/Cargo.toml
  components/merkledb/src/proof_list_index/tests.rs
  examples/cryptocurrency-advanced/backend/Cargo.toml
  examples/cryptocurrency/Cargo.toml
  examples/timestamping/backend/Cargo.toml
  exonum/Cargo.toml
  services/configuration/Cargo.toml
  services/configuration/src/lib.rs
  services/time/Cargo.toml
Owners: @aleksuss, @alekseysidorov, @pavel-mukhanov, @popzxc, @slowli

fix lint
  examples/cryptocurrency-advanced/README.md
  examples/timestamping/README.md
  services/configuration/doc/testnet-api-tutorial.md
Owners: @aleksuss, @alekseysidorov, @popzxc, @ozkriff

fix lint
  examples/cryptocurrency-advanced/README.md
Owners: @aleksuss, @alekseysidorov, @popzxc

Fix testnet docs: add note about access permissions for the key files (#1316)
  examples/cryptocurrency-advanced/README.md
  examples/timestamping/README.md
  exonum-dictionary.txt
  services/configuration/doc/testnet-api-tutorial.md
Owners: @aleksuss, @alekseysidorov, @popzxc, @ozkriff

Add is_empty to test
  components/merkledb/src/map_index.rs
  components/merkledb/src/proof_map_index/tests.rs
Owners: @aleksuss, @alekseysidorov

Add len() to MapIndex and ProofMapIndex (#1312)
  CHANGELOG.md
  components/merkledb/src/map_index.rs
  components/merkledb/src/proof_map_index/mod.rs
  components/merkledb/src/proof_map_index/tests.rs
Owners: @aleksuss, @alekseysidorov

KeySetIndex and ValueSetIndex length
  components/merkledb/src/key_set_index.rs
  components/merkledb/src/proof_list_index/tests.rs
  components/merkledb/src/value_set_index.rs
Owners: @aleksuss, @alekseysidorov

Add changelog
  CHANGELOG.md
  components/merkledb/src/proof_list_index/tests.rs
Owners: @aleksuss, @alekseysidorov

KeySetIndex and ValueSetIndex length
  components/merkledb/src/key_set_index.rs
  components/merkledb/src/proof_list_index/tests.rs
  components/merkledb/src/value_set_index.rs
Owners: @aleksuss, @alekseysidorov

Add changelog
  CHANGELOG.md
  components/merkledb/src/proof_list_index/tests.rs
Owners: @aleksuss, @alekseysidorov

Fix build
  components/merkledb/src/proof_list_index/tests.rs
Owners: @aleksuss, @alekseysidorov

Fix merkledb compilation as independent module
  components/merkledb/src/proof_list_index/tests.rs
Owners: @aleksuss, @alekseysidorov

Fix doc tests
  components/merkledb/src/key_set_index.rs
  components/merkledb/src/value_set_index.rs
Owners: @aleksuss, @alekseysidorov

Fix merkledb compilation as independent module (#1317)
  components/merkledb/src/proof_list_index/tests.rs
Owners: @aleksuss, @alekseysidorov

Fix PR number in changelog.
  CHANGELOG.md
Owners: @aleksuss, @alekseysidorov

Add length to ValueSetIndex and KeySetIndex (#1319)
  CHANGELOG.md
  components/merkledb/src/key_set_index.rs
  components/merkledb/src/value_set_index.rs
Owners: @aleksuss, @alekseysidorov

Fix compilation issue related to serde
  components/merkledb/src/proof_list_index/tests.rs
  components/merkledb/src/proof_map_index/proof.rs
Owners: @aleksuss, @alekseysidorov

Fix indexes length calculation
  components/merkledb/src/key_set_index.rs
  components/merkledb/src/map_index.rs
  components/merkledb/src/proof_map_index/mod.rs
  components/merkledb/src/proof_map_index/tests.rs
  components/merkledb/src/value_set_index.rs
Owners: @aleksuss, @alekseysidorov

Format code
  components/merkledb/src/proof_map_index/proof.rs
  examples/cryptocurrency-advanced/backend/src/lib.rs
  examples/cryptocurrency-advanced/backend/src/main.rs
  examples/cryptocurrency/src/lib.rs
  examples/timestamping/backend/src/lib.rs
  exonum/src/blockchain/mod.rs
  exonum/src/blockchain/transaction.rs
  exonum/src/proto/tests.rs
  exonum/src/runtime/configuration/mod.rs
  exonum/src/runtime/configuration/schema.rs
  exonum/src/runtime/configuration_new/mod.rs
  exonum/src/runtime/configuration_new/schema.rs
  exonum/src/runtime/configuration_new/transactions.rs
  exonum/src/runtime/dispatcher.rs
  exonum/src/runtime/rust/tests.rs
  exonum/src/sandbox/mod.rs
  services/time/src/lib.rs
Owners: @aleksuss, @alekseysidorov

.github/CODEOWNERS:

# Default owners for everything in the repository:
* @aleksuss @alekseysidorov

# Javascript specific changes:
*.js @aleksuss @qvantor

# Cryptography:
components/crypto/* @aleksuss @alekseysidorov @pavel-mukhanov @slowli

# MerkleDB storage:
components/merkledb/* @aleksuss @alekseysidorov @pavel-mukhanov

# Cryptocurrency examples:
examples/cryptocurrency/* @aleksuss @alekseysidorov @popzxc
examples/cryptocurrency-advanced/* @aleksuss @alekseysidorov @popzxc

# Timestamping:
examples/timestamping/* @aleksuss @alekseysidorov @ozkriff @popzxc

# Configuration service:
services/configuration/* @aleksuss @alekseysidorov @popzxc

# Time-oracle service:
services/time/* @aleksuss @alekseysidorov @slowli

# Testkit:
testkit/* @aleksuss @alekseysidorov @slowli

# Benchmarks:
exonum/benches/* @aleksuss @alekseysidorov @popzxc

# Web api:
exonum/src/api/* @aleksuss @alekseysidorov @popzxc

# Encoding:
exonum/src/encoding/* @aleksuss @alekseysidorov @popzxc

# Events:
exonum/src/events/* @aleksuss @alekseysidorov @pavel-mukhanov @popzxc

# Node (consensus):
exonum/src/node/* @aleksuss @alekseysidorov @slowli @popzxc
