Repository exonum/exonum, pull requests merged in 2018-07, with the labels that each got.

#707 Core Storage Versioning [ECR-1423] [ECR-1718]
  CHANGELOG.md
  exonum/src/blockchain/mod.rs
  exonum/src/storage/indexes_metadata.rs
  exonum/src/storage/mod.rs
  services/configuration/src/api.rs
Labels: breaking change :warning:, discussion :speech_balloon:

#794 CONTRIBUTING.md: Prefer nested imports
  CONTRIBUTING.md
Labels: discussion :speech_balloon:

#795 Disable auto bench detection to silence the warning [ECR-1617]
  exonum/Cargo.toml
Labels: discussion :speech_balloon:

#797 Consistent compact Display/Debug format for crypto types
  CHANGELOG.md
  exonum/src/crypto/crypto_lib/sodiumoxide/x25519.rs
  exonum/src/crypto/macros.rs
  exonum/src/crypto/mod.rs
  exonum/src/storage/keys.rs
  testkit/tests/counter/main.rs
  testkit/tests/inflating_currency/main.rs
Labels: breaking change :warning:
