Repository exonum/exonum, pull requests merged in 2019-12, with the labels that each got.

#1568 Make DispatcherSchema merkelized again [ECR-3810]
  CHANGELOG.md
  components/merkledb/src/proof_map_index/key.rs
  components/merkledb/src/proof_map_index/mod.rs
  components/merkledb/tests/components.rs
  examples/sample_runtime/src/main.rs
  exonum/src/api/node/public/system.rs
  exonum/src/blockchain/mod.rs
  exonum/src/blockchain/schema.rs
  exonum/src/blockchain/tests.rs
  exonum/src/proto/schema/exonum/runtime.proto
  exonum/src/runtime/blockchain_data.rs
  exonum/src/runtime/dispatcher/mod.rs
  exonum/src/runtime/dispatcher/schema.rs
  exonum/src/runtime/dispatcher/tests.rs
  exonum/src/runtime/mod.rs
  exonum/src/runtime/rust/tests.rs
  exonum/src/runtime/types.rs
  services/supervisor/src/lib.rs
  services/supervisor/tests/supervisor/main.rs
Labels: breaking change :warning:, core, update changelog

#1579 Check service ID of transaction before accepting to mempool [ECR-3816]
  CHANGELOG.md
  exonum/src/blockchain/mod.rs
  exonum/src/blockchain/tests.rs
  exonum/src/node/consensus.rs
  exonum/src/node/state.rs
  exonum/src/runtime/dispatcher/mod.rs
  exonum/src/runtime/dispatcher/tests.rs
  exonum/src/sandbox/consensus/block_request.rs
  exonum/src/sandbox/consensus/round_details.rs
  exonum/src/sandbox/sandbox_tests_helper.rs
  exonum/src/sandbox/timestamping.rs
  test-suite/testkit/src/lib.rs
Labels: core, update changelog

#1588 Add service keypair getter to the ServiceApiState
  .travis.yml
  exonum/src/runtime/rust/api.rs
Labels: core

#1541 Extract genesis config and improve adding builtin services [ECR-3750]
  CHANGELOG.md
  cli/src/lib.rs
  examples/cryptocurrency/examples/demo.rs
  examples/sample_runtime/src/main.rs
  examples/timestamping/backend/tests/api.rs
  exonum/benches/criterion/block.rs
  exonum/src/blockchain/builder.rs
  exonum/src/blockchain/config.rs
  exonum/src/blockchain/mod.rs
  exonum/src/blockchain/tests.rs
  exonum/src/helpers/mod.rs
  exonum/src/node/mod.rs
  exonum/src/proto/mod.rs
  exonum/src/proto/schema/exonum/runtime.proto
  exonum/src/runtime/dispatcher/mod.rs
  exonum/src/runtime/mod.rs
  exonum/src/runtime/rust/mod.rs
  exonum/src/runtime/rust/service.rs
  exonum/src/runtime/rust/tests.rs
  exonum/src/runtime/types.rs
  exonum/src/sandbox/mod.rs
  exonum/tests/explorer/blockchain/mod.rs
  exonum/tests/node.rs
  exonum/tests/websocket/blockchain/mod.rs
  services/supervisor/examples/configuration_change.rs
  services/supervisor/src/lib.rs
  services/supervisor/tests/simple.rs
  services/supervisor/tests/supervisor/config.rs
  services/supervisor/tests/supervisor/consensus_config.rs
  services/supervisor/tests/supervisor/inc.rs
  services/supervisor/tests/supervisor/main.rs
  services/supervisor/tests/supervisor/utils.rs
  services/time/examples/simple_service/main.rs
  services/time/tests/test_exonum_time.rs
  test-suite/testkit/examples/timestamping/main.rs
  test-suite/testkit/server/src/main.rs
  test-suite/testkit/src/builder.rs
  test-suite/testkit/src/lib.rs
  test-suite/testkit/src/server.rs
  test-suite/testkit/tests/counter/counter.rs
  test-suite/testkit/tests/counter/main.rs
  test-suite/testkit/tests/inflating_currency/inflating_cryptocurrency.rs
  test-suite/testkit/tests/inflating_currency/main.rs
  test-suite/testkit/tests/interfaces/main.rs
  test-suite/testkit/tests/interfaces/services.rs
  test-suite/testkit/tests/runtime.rs
  test-suite/testkit/tests/service_hooks/hooks.rs
  test-suite/testkit/tests/service_hooks/main.rs
Labels: core, update changelog

#1591 Update travis config to use exonum-launcher from master branch
  .travis.yml
  exonum-dictionary.txt
  test-suite/exonum-py-tests/README.md
Labels: travis

#1593 Don't expose service secret key in ServiceApiState
  exonum/src/runtime/rust/api.rs
Labels: bug :beetle:, core

#1592 Fix node freeze after re-enabling consensus [ERC-3111]
  CHANGELOG.md
  exonum/src/node/consensus.rs
  exonum/src/node/events.rs
  exonum/src/sandbox/consensus/recovery.rs
Labels: bug :beetle:, core, update changelog

#1599 Fix module doc-comment in message module
  exonum/src/messages/mod.rs
Labels: core, documentation

#1577 Add before_transactions hook [ECR-3755]
  CHANGELOG.md
  examples/sample_runtime/src/main.rs
  exonum/src/blockchain/mod.rs
  exonum/src/blockchain/tests.rs
  exonum/src/runtime/dispatcher/mod.rs
  exonum/src/runtime/dispatcher/tests.rs
  exonum/src/runtime/mod.rs
  exonum/src/runtime/rust/call_context.rs
  exonum/src/runtime/rust/mod.rs
  exonum/src/runtime/rust/service.rs
  exonum/src/runtime/rust/tests.rs
  services/supervisor/src/lib.rs
  test-suite/testkit/tests/runtime.rs
Labels: breaking change :warning:, core, update changelog

#1600 Fix links in changelog
  CHANGELOG.md
Labels: documentation, update changelog

#1585 Improve `ExecutionError` [ECR-3902] [ECR-3819]
  components/derive/src/execution_fail.rs
  components/derive/src/exonum_interface.rs
  components/derive/src/lib.rs
  components/derive/src/service_dispatcher.rs
  examples/cryptocurrency-advanced/backend/src/transactions.rs
  examples/cryptocurrency-advanced/backend/tests/api.rs
  examples/cryptocurrency/src/lib.rs
  examples/cryptocurrency/tests/api.rs
  examples/sample_runtime/src/main.rs
  examples/timestamping/backend/src/transactions.rs
  examples/timestamping/backend/tests/api.rs
  exonum/benches/criterion/block.rs
  exonum/examples/explorer.rs
  exonum/src/api/websocket.rs
  exonum/src/blockchain/mod.rs
  exonum/src/blockchain/tests.rs
  exonum/src/proto/schema/exonum/runtime.proto
  exonum/src/runtime/dispatcher/error.rs
  exonum/src/runtime/dispatcher/mod.rs
  exonum/src/runtime/dispatcher/tests.rs
  exonum/src/runtime/error.rs
  exonum/src/runtime/error/execution_result.rs
  exonum/src/runtime/error/tests.rs
  exonum/src/runtime/mod.rs
  exonum/src/runtime/rust/call_context.rs
  exonum/src/runtime/rust/error.rs
  exonum/src/runtime/rust/mod.rs
  exonum/src/runtime/rust/tests.rs
  exonum/tests/explorer/blockchain/mod.rs
  exonum/tests/explorer/main.rs
  exonum/tests/websocket/blockchain/mod.rs
  exonum/tests/websocket/main.rs
  services/supervisor/src/configure.rs
  services/supervisor/src/errors.rs
  services/supervisor/src/transactions.rs
  services/supervisor/tests/simple.rs
  services/supervisor/tests/supervisor/config.rs
  services/supervisor/tests/supervisor/inc.rs
  services/supervisor/tests/supervisor/main.rs
  services/time/src/transactions.rs
  services/time/tests/test_exonum_time.rs
  test-suite/testkit/src/api.rs
  test-suite/testkit/tests/counter/counter.rs
  test-suite/testkit/tests/counter/main.rs
  test-suite/testkit/tests/inflating_currency/inflating_cryptocurrency.rs
  test-suite/testkit/tests/interfaces/error.rs
  test-suite/testkit/tests/interfaces/main.rs
Labels: breaking change :warning:, documentation

#1576 Call status aggregation within block [ECR-3811]
  CHANGELOG.md
  exonum/benches/criterion/block.rs
  exonum/examples/explorer.rs
  exonum/src/api/node/public/explorer.rs
  exonum/src/api/websocket.rs
  exonum/src/blockchain/block.rs
  exonum/src/blockchain/mod.rs
  exonum/src/blockchain/schema.rs
  exonum/src/blockchain/tests.rs
  exonum/src/explorer/mod.rs
  exonum/src/messages/tests.rs
  exonum/src/messages/types.rs
  exonum/src/node/consensus.rs
  exonum/src/node/mod.rs
  exonum/src/proto/mod.rs
  exonum/src/proto/schema/exonum/blockchain.proto
  exonum/src/runtime/dispatcher/mod.rs
  exonum/src/runtime/dispatcher/tests.rs
  exonum/src/runtime/error.rs
  exonum/src/runtime/error/execution_error.rs
  exonum/src/runtime/error/execution_result.rs
  exonum/src/runtime/rust/mod.rs
  exonum/src/runtime/rust/service.rs
  exonum/src/sandbox/consensus/basic.rs
  exonum/src/sandbox/consensus/block_request.rs
  exonum/src/sandbox/consensus/invalid_message.rs
  exonum/src/sandbox/consensus/recovery.rs
  exonum/src/sandbox/consensus/round_details.rs
  exonum/src/sandbox/consensus/timeouts.rs
  exonum/src/sandbox/consensus/transactions.rs
  exonum/src/sandbox/consensus/unsynchronized_message.rs
  exonum/src/sandbox/mod.rs
  exonum/src/sandbox/old.rs
  exonum/src/sandbox/sandbox_tests_helper.rs
  exonum/src/sandbox/timestamping.rs
  exonum/tests/explorer/blockchain/mod.rs
  exonum/tests/explorer/main.rs
  services/supervisor/src/lib.rs
  services/supervisor/tests/supervisor/config.rs
  test-suite/testkit/src/lib.rs
  test-suite/testkit/src/server.rs
  test-suite/testkit/tests/counter/counter.rs
  test-suite/testkit/tests/counter/main.rs
Labels: breaking change :warning:

#1587 Configurable supervisor [ECR-3829]
  .gitignore
  .travis.yml
  CHANGELOG.md
  cli/src/lib.rs
  examples/sample_runtime/src/main.rs
  examples/timestamping/backend/tests/api.rs
  exonum/tests/explorer/main.rs
  services/supervisor/examples/configuration_change.rs
  services/supervisor/src/api.rs
  services/supervisor/src/errors.rs
  services/supervisor/src/lib.rs
  services/supervisor/src/mode.rs
  services/supervisor/src/proto/service.proto
  services/supervisor/src/proto_structures.rs
  services/supervisor/src/schema.rs
  services/supervisor/src/transactions.rs
  services/supervisor/tests/simple.rs
  services/supervisor/tests/supervisor/config.rs
  services/supervisor/tests/supervisor/config_api.rs
  services/supervisor/tests/supervisor/consensus_config.rs
  services/supervisor/tests/supervisor/main.rs
  services/supervisor/tests/supervisor/supervisor_config.rs
  services/supervisor/tests/supervisor/utils.rs
  services/time/tests/test_exonum_time.rs
Labels: supervisor, update changelog

#1609 Move incorrect tx check to the explorer [ECR-3907]
  exonum/src/api/node/public/explorer.rs
  exonum/src/api/websocket.rs
  exonum/src/blockchain/mod.rs
  exonum/src/blockchain/tests.rs
  exonum/src/node/consensus.rs
  exonum/src/runtime/dispatcher/mod.rs
  exonum/tests/websocket/main.rs
  test-suite/testkit/src/lib.rs
  test-suite/testkit/tests/counter/main.rs
Labels: core

#1604 Write tests for the Rust runtime API endpoints [ECR-3808]
  exonum/src/runtime/rust/mod.rs
  test-suite/testkit/build.rs
  test-suite/testkit/src/api.rs
  test-suite/testkit/tests/runtime_api/main.rs
  test-suite/testkit/tests/runtime_api/proto/mod.rs
  test-suite/testkit/tests/runtime_api/proto/test_service.proto
  test-suite/testkit/tests/runtime_api/service.rs
Labels: core, testkit

#1611 Fix couple of bugs in MerkleDB
  CHANGELOG.md
  components/merkledb/src/db.rs
  components/merkledb/src/key_set_index.rs
  components/merkledb/src/list_index.rs
  components/merkledb/src/views/mod.rs
  components/merkledb/tests/common/mod.rs
  components/merkledb/tests/list.rs
  components/merkledb/tests/map.rs
  components/merkledb/tests/set.rs
Labels: bug :beetle:, merkledb

#1602 Forward compatible block header [ECR-3895]
  CHANGELOG.md
  exonum/benches/criterion/block.rs
  exonum/examples/explorer.rs
  exonum/src/blockchain/block.rs
  exonum/src/blockchain/mod.rs
  exonum/src/blockchain/tests.rs
  exonum/src/messages/tests.rs
  exonum/src/messages/types.rs
  exonum/src/node/consensus.rs
  exonum/src/node/state.rs
  exonum/src/proto/mod.rs
  exonum/src/proto/ordered_map.rs
  exonum/src/proto/schema/exonum/blockchain.proto
  exonum/src/proto/schema/exonum/ordered_map.proto
  exonum/src/proto/schema/exonum/tests.proto
  exonum/src/runtime/dispatcher/tests.rs
  exonum/src/runtime/rust/tests.rs
  exonum/src/sandbox/consensus/round_details.rs
  exonum/src/sandbox/consensus/transactions.rs
  exonum/src/sandbox/consensus/unsynchronized_message.rs
  exonum/src/sandbox/mod.rs
  exonum/src/sandbox/old.rs
  exonum/src/sandbox/sandbox_tests_helper.rs
  exonum/tests/explorer/blockchain/mod.rs
  exonum/tests/explorer/main.rs
  test-suite/testkit/src/lib.rs
  test-suite/testkit/tests/counter/main.rs
  test-suite/testkit/tests/runtime_api/main.rs
Labels: core, update changelog

#1607 Api versioning [ECR-3897]
  CHANGELOG.md
  exonum/Cargo.toml
  exonum/src/api/backends/actix.rs
  exonum/src/api/error.rs
  exonum/src/api/mod.rs
  exonum/src/api/with.rs
  exonum/src/runtime/mod.rs
  exonum/src/runtime/rust/api.rs
  test-suite/testkit/Cargo.toml
  test-suite/testkit/src/api.rs
  test-suite/testkit/src/lib.rs
  test-suite/testkit/tests/api/api_service.rs
  test-suite/testkit/tests/api/main.rs
Labels: core, update changelog

#1621 Unsized keys for MapIndex
  CHANGELOG.md
  components/merkledb/src/access/extensions.rs
  components/merkledb/src/access/mod.rs
  components/merkledb/src/map_index.rs
  components/merkledb/src/views/mod.rs
Labels: merkledb, update changelog

#1624 Improve MerkleDB docs [ECR-4006]
  .travis.yml
  components/merkledb/benches/encoding.rs
  components/merkledb/src/access/extensions.rs
  components/merkledb/src/access/mod.rs
  components/merkledb/src/backends/rocksdb.rs
  components/merkledb/src/db.rs
  components/merkledb/src/error.rs
  components/merkledb/src/hash.rs
  components/merkledb/src/lib.rs
  components/merkledb/src/proof_entry.rs
  components/merkledb/src/proof_list_index/mod.rs
  components/merkledb/src/proof_list_index/proof.rs
  components/merkledb/src/proof_map_index/key.rs
  components/merkledb/src/proof_map_index/mod.rs
  components/merkledb/src/validation.rs
  components/merkledb/src/views/address.rs
  components/merkledb/src/views/mod.rs
Labels: documentation, merkledb

#1619 Fix services behaviour on the genesis block [ECR-3945]
  CHANGELOG.md
  exonum/src/blockchain/mod.rs
  exonum/src/blockchain/schema.rs
  exonum/src/blockchain/tests.rs
  exonum/src/runtime/dispatcher/mod.rs
  exonum/src/runtime/mod.rs
  exonum/src/runtime/rust/call_context.rs
  exonum/src/runtime/rust/service.rs
  exonum/src/runtime/rust/tests.rs
  services/supervisor/src/lib.rs
Labels: breaking change :warning:, bug :beetle:, core, supervisor, update changelog

#1622 Add more tests for invalid txs processing [ECR-3908]
  test-suite/consensus-tests/tests/block_request.rs
  test-suite/consensus-tests/tests/round_details.rs
  test-suite/testkit/src/lib.rs
  test-suite/testkit/tests/counter/main.rs
Labels: core, testkit

#1605 Allow to stop service instances [ECR-3762]
  CHANGELOG.md
  components/proto/Cargo.toml
  examples/sample_runtime/src/main.rs
  examples/timestamping/backend/tests/api.rs
  exonum/src/blockchain/tests.rs
  exonum/src/proto/schema/exonum/runtime.proto
  exonum/src/runtime/blockchain_data.rs
  exonum/src/runtime/dispatcher/error.rs
  exonum/src/runtime/dispatcher/mod.rs
  exonum/src/runtime/dispatcher/schema.rs
  exonum/src/runtime/dispatcher/tests.rs
  exonum/src/runtime/error/execution_error.rs
  exonum/src/runtime/error/execution_result.rs
  exonum/src/runtime/error/tests.rs
  exonum/src/runtime/mod.rs
  exonum/src/runtime/rust/call_context.rs
  exonum/src/runtime/rust/mod.rs
  exonum/src/runtime/rust/tests.rs
  exonum/src/runtime/types.rs
  services/supervisor/README.md
  services/supervisor/src/lib.rs
  services/supervisor/src/proto/service.proto
  services/supervisor/src/proto_structures.rs
  services/supervisor/src/schema.rs
  services/supervisor/src/transactions.rs
  services/supervisor/tests/supervisor/config.rs
  services/supervisor/tests/supervisor/inc.rs
  services/supervisor/tests/supervisor/main.rs
  services/supervisor/tests/supervisor/service_lifecycle.rs
  services/supervisor/tests/supervisor/utils.rs
  test-suite/testkit/tests/runtime.rs
Labels: breaking change :warning:, core, update changelog

#1616 Data migration [ECR-3775] [ECR-3868]
  .travis.yml
  components/merkledb/examples/blockchain.rs
  components/merkledb/examples/migration.rs
  components/merkledb/src/access/mod.rs
  components/merkledb/src/db.rs
  components/merkledb/src/lib.rs
  components/merkledb/src/migration.rs
  components/merkledb/src/validation.rs
  components/merkledb/src/views/address.rs
  components/merkledb/src/views/metadata.rs
  components/merkledb/src/views/mod.rs
  components/merkledb/src/views/system_schema.rs
  components/merkledb/src/views/tests.rs
  components/merkledb/tests/migration.rs
  exonum-dictionary.txt
Labels: merkledb, update changelog

#1615 Fix websocket issue during different kind of WebSocket connect
  exonum/src/api/node/mod.rs
  exonum/tests/websocket/main.rs
Labels: bug :beetle:

#1626 Optimal keys for proof map
  CHANGELOG.md
  components/merkledb/src/access/extensions.rs
  components/merkledb/src/hash.rs
  components/merkledb/src/proof_map_index/mod.rs
  components/merkledb/src/proof_map_index/proof.rs
  components/merkledb/src/proof_map_index/proof_builder.rs
  components/merkledb/src/proof_map_index/tests.rs
Labels: merkledb, update changelog

#1630 Prop-test backup patches [ECR-4005]
  CHANGELOG.md
  components/merkledb/src/access/extensions.rs
  components/merkledb/src/access/mod.rs
  components/merkledb/src/backends/rocksdb.rs
  components/merkledb/src/backends/temporarydb.rs
  components/merkledb/src/db.rs
  components/merkledb/src/migration.rs
  components/merkledb/src/views/metadata.rs
  components/merkledb/src/views/mod.rs
  components/merkledb/src/views/tests.rs
  components/merkledb/tests/backup.rs
  components/merkledb/tests/migration.rs
  components/merkledb/tests/work/mod.rs
Labels: breaking change :warning:, merkledb

#1628 Move indexes to separate module.
  CHANGELOG.md
  components/merkledb/src/access/extensions.rs
  components/merkledb/src/access/mod.rs
  components/merkledb/src/hash.rs
  components/merkledb/src/indexes/entry.rs
  components/merkledb/src/indexes/group.rs
  components/merkledb/src/indexes/key_set.rs
  components/merkledb/src/indexes/list.rs
  components/merkledb/src/indexes/map.rs
  components/merkledb/src/indexes/mod.rs
  components/merkledb/src/indexes/proof_entry.rs
  components/merkledb/src/indexes/proof_list/key.rs
  components/merkledb/src/indexes/proof_list/mod.rs
  components/merkledb/src/indexes/proof_list/proof.rs
  components/merkledb/src/indexes/proof_list/proof_builder.rs
  components/merkledb/src/indexes/proof_list/tests.rs
  components/merkledb/src/indexes/proof_map/README.md
  components/merkledb/src/indexes/proof_map/fig-index.png
  components/merkledb/src/indexes/proof_map/key.rs
  components/merkledb/src/indexes/proof_map/mod.rs
  components/merkledb/src/indexes/proof_map/node.rs
  components/merkledb/src/indexes/proof_map/proof.rs
  components/merkledb/src/indexes/proof_map/proof_builder.rs
  components/merkledb/src/indexes/proof_map/tests.rs
  components/merkledb/src/indexes/sparse_list.rs
  components/merkledb/src/indexes/value_set.rs
  components/merkledb/src/lazy.rs
  components/merkledb/src/lib.rs
  components/merkledb/src/proto/mod.rs
  components/merkledb/src/views/address.rs
  components/merkledb/tests/proof_map_index.rs
  examples/cryptocurrency-advanced/backend/src/api.rs
  examples/timestamping/backend/src/api.rs
  exonum/src/explorer/mod.rs
Labels: merkledb, update changelog

#1633 Remove Rust runtime dependency in the Exonum tests [ECR-3931]
  .travis.yml
  CHANGELOG.md
  Cargo.toml
  exonum/Cargo.toml
  exonum/build.rs
  exonum/src/blockchain/builder.rs
  exonum/src/blockchain/tests.rs
  exonum/src/lib.rs
  exonum/src/runtime/dispatcher/tests.rs
  exonum/tests/websocket/blockchain/mod.rs
  package-lock.json
  test-suite/consensus-tests/src/lib.rs
  test-suite/consensus-tests/src/sandbox_tests_helper.rs
  test-suite/consensus-tests/tests/block_request.rs
  test-suite/node-tests/Cargo.toml
  test-suite/node-tests/build.rs
  test-suite/node-tests/examples/explorer.rs
  test-suite/node-tests/src/blockchain.rs
  test-suite/node-tests/src/lib.rs
  test-suite/node-tests/src/proto/mod.rs
  test-suite/node-tests/src/proto/services.proto
  test-suite/node-tests/src/tests/explorer.rs
  test-suite/node-tests/src/tests/mod.rs
  test-suite/node-tests/src/tests/node.rs
  test-suite/node-tests/src/tests/websocket.rs
  test-suite/testkit/tests/system_api.rs
Labels: integration-tests, rust

#1625 Improve error message for failed deploy of Rust service [ECR-3973]
  exonum/src/node/mod.rs
  exonum/src/runtime/dispatcher/mod.rs
  exonum/src/runtime/error.rs
  exonum/src/runtime/error/tests.rs
  exonum/src/runtime/mod.rs
  exonum/src/runtime/rust/mod.rs
  test-suite/node-tests/src/tests/websocket.rs
  test-suite/testkit/tests/counter/main.rs
Labels: core

#1612 Implement node API for retrieving call status [ECR-3887]
  CHANGELOG.md
  exonum/src/api/node/public/explorer.rs
  exonum/src/explorer/mod.rs
  test-suite/testkit/tests/counter/main.rs
Labels: core

#1640 Update changelog
  CHANGELOG.md
Labels: update changelog

#1635 Allow to return `IndexProof` by full index name [ECR-4013]
  exonum/src/runtime/blockchain_data.rs
Labels: core

#1598 Add supervisor mode parameter to CLI. Refactor exonum-cli crate [ECR-3874]
  CHANGELOG.md
  cli/Cargo.toml
  cli/src/command/finalize.rs
  cli/src/command/generate_config.rs
  cli/src/command/generate_template.rs
  cli/src/command/maintenance.rs
  cli/src/command/mod.rs
  cli/src/command/run.rs
  cli/src/command/run_dev.rs
  cli/src/config.rs
  cli/src/config_manager.rs
  cli/src/lib.rs
  cli/tests/cli.rs
  cli/tests/testdata/config/more_validators/cfg/0/master.key.toml
  cli/tests/testdata/config/more_validators/cfg/0/node.toml
  cli/tests/testdata/config/more_validators/cfg/0/pub.toml
  cli/tests/testdata/config/more_validators/cfg/0/sec.toml
  cli/tests/testdata/config/more_validators/cfg/1/master.key.toml
  cli/tests/testdata/config/more_validators/cfg/1/node.toml
  cli/tests/testdata/config/more_validators/cfg/1/pub.toml
  cli/tests/testdata/config/more_validators/cfg/1/sec.toml
  cli/tests/testdata/config/more_validators/cfg/2/master.key.toml
  cli/tests/testdata/config/more_validators/cfg/2/node.toml
  cli/tests/testdata/config/more_validators/cfg/2/pub.toml
  cli/tests/testdata/config/more_validators/cfg/2/sec.toml
  cli/tests/testdata/config/more_validators/cfg/3/master.key.toml
  cli/tests/testdata/config/more_validators/cfg/3/node.toml
  cli/tests/testdata/config/more_validators/cfg/3/pub.toml
  cli/tests/testdata/config/more_validators/cfg/3/sec.toml
  cli/tests/testdata/config/more_validators/cfg/template.toml
  cli/tests/testdata/config/with_pass/cfg/0/master.key.toml
  cli/tests/testdata/config/with_pass/cfg/0/node.toml
  cli/tests/testdata/config/with_pass/cfg/0/pub.toml
  cli/tests/testdata/config/with_pass/cfg/0/sec.toml
  cli/tests/testdata/config/with_pass/cfg/template.toml
  cli/tests/testdata/config/without_pass/cfg/0/master.key.toml
  cli/tests/testdata/config/without_pass/cfg/0/node.toml
  cli/tests/testdata/config/without_pass/cfg/0/pub.toml
  cli/tests/testdata/config/without_pass/cfg/0/sec.toml
  cli/tests/testdata/config/without_pass/cfg/1/master.key.toml
  cli/tests/testdata/config/without_pass/cfg/1/node.toml
  cli/tests/testdata/config/without_pass/cfg/1/pub.toml
  cli/tests/testdata/config/without_pass/cfg/1/sec.toml
  cli/tests/testdata/config/without_pass/cfg/2/master.key.toml
  cli/tests/testdata/config/without_pass/cfg/2/node.toml
  cli/tests/testdata/config/without_pass/cfg/2/pub.toml
  cli/tests/testdata/config/without_pass/cfg/2/sec.toml
  cli/tests/testdata/config/without_pass/cfg/3/master.key.toml
  cli/tests/testdata/config/without_pass/cfg/3/node.toml
  cli/tests/testdata/config/without_pass/cfg/3/pub.toml
  cli/tests/testdata/config/without_pass/cfg/3/sec.toml
  cli/tests/testdata/config/without_pass/cfg/template.toml
  exonum/src/helpers/config.rs
  exonum/src/node/events.rs
  exonum/src/node/mod.rs
  services/supervisor/src/lib.rs
  services/supervisor/src/mode.rs
  test-suite/exonum-py-tests/suite/exonum.py
Labels: breaking change :warning:, cli, core, update changelog

#1652 Remove extern crate: cli [ECR-4004]
  cli/tests/cli.rs
Labels: cli

#1645 Fix `ReadonlyFork`
  components/merkledb/src/db.rs
  components/merkledb/src/migration.rs
  components/merkledb/src/views/metadata.rs
  components/merkledb/src/views/mod.rs
  components/merkledb/src/views/tests.rs
Labels: bug :beetle:, merkledb

#1643 Implement Protobuf serialization for IndexProof
  CHANGELOG.md
  components/build/src/lib.rs
  components/merkledb/Cargo.toml
  components/merkledb/src/lib.rs
  exonum/Cargo.toml
  exonum/build.rs
  exonum/src/blockchain/block.rs
  exonum/src/messages/signed.rs
  exonum/src/proto/mod.rs
  exonum/src/proto/schema/exonum/consensus.proto
  exonum/src/proto/schema/exonum/proofs.proto
  exonum/src/proto/schema/mod.rs
  test-suite/testkit/tests/runtime_api/main.rs
Labels: core

#1639 Service schemas as public interface [ECR-4007]
  components/derive/src/db_traits.rs
  components/derive/src/lib.rs
  components/derive/src/require_artifact.rs
  components/merkledb/benches/schema_patterns.rs
  components/merkledb/benches/transactions.rs
  components/merkledb/examples/blockchain.rs
  components/merkledb/examples/migration.rs
  components/merkledb/tests/components.rs
  examples/cryptocurrency-advanced/backend/src/api.rs
  examples/cryptocurrency-advanced/backend/src/lib.rs
  examples/cryptocurrency-advanced/backend/src/schema.rs
  examples/cryptocurrency-advanced/backend/src/transactions.rs
  examples/cryptocurrency-advanced/backend/tests/api.rs
  examples/cryptocurrency/src/lib.rs
  examples/cryptocurrency/src/tx_tests.rs
  examples/cryptocurrency/tests/api.rs
  examples/cryptocurrency/tests/constants/mod.rs
  examples/timestamping/backend/src/lib.rs
  examples/timestamping/backend/src/proto/mod.rs
  examples/timestamping/backend/src/proto/service.proto
  examples/timestamping/backend/src/schema.rs
  examples/timestamping/backend/src/transactions.rs
  examples/timestamping/backend/tests/api.rs
  exonum/Cargo.toml
  exonum/src/blockchain/tests.rs
  exonum/src/runtime/blockchain_data.rs
  exonum/src/runtime/mod.rs
  exonum/src/runtime/versioning.rs
  services/middleware/src/lib.rs
  services/middleware/src/transactions.rs
  services/middleware/tests/inc/mod.rs
  services/middleware/tests/tx_logic.rs
  services/supervisor/examples/configuration_change.rs
  services/supervisor/src/api.rs
  services/supervisor/src/lib.rs
  services/supervisor/src/schema.rs
  services/supervisor/src/transactions.rs
  services/supervisor/tests/simple.rs
  services/supervisor/tests/supervisor/inc.rs
  services/supervisor/tests/supervisor/service_lifecycle.rs
  services/supervisor/tests/supervisor/supervisor_config.rs
  services/supervisor/tests/supervisor/utils.rs
  services/time/examples/simple_service/main.rs
  services/time/src/schema.rs
  services/time/src/time_provider.rs
  services/time/tests/test_exonum_time.rs
  test-suite/testkit/tests/counter/counter.rs
  test-suite/testkit/tests/counter/main.rs
  test-suite/testkit/tests/inflating_currency/inflating_cryptocurrency.rs
  test-suite/testkit/tests/interfaces/schema.rs
Labels: discussion :speech_balloon:, merkledb

#1648 Process deployment failures properly [ECR-3926]
  CHANGELOG.md
  exonum/src/helpers/types.rs
  exonum/src/runtime/dispatcher/mod.rs
  exonum/src/runtime/dispatcher/tests.rs
  exonum/src/runtime/error.rs
  exonum/src/runtime/mod.rs
  exonum/src/runtime/rust/service.rs
  services/supervisor/Cargo.toml
  services/supervisor/src/api.rs
  services/supervisor/src/deploy_state.rs
  services/supervisor/src/lib.rs
  services/supervisor/src/proto/schema.proto
  services/supervisor/src/proto/service.proto
  services/supervisor/src/proto_structures.rs
  services/supervisor/src/schema.rs
  services/supervisor/src/transactions.rs
  services/supervisor/tests/simple.rs
  services/supervisor/tests/supervisor/config.rs
  services/supervisor/tests/supervisor/deploy_failures.rs
  services/supervisor/tests/supervisor/main.rs
  services/supervisor/tests/supervisor/utils.rs
Labels: supervisor, update changelog
