Repository exonum/exonum, pull requests merged in 2020-02, with the labels that each got.

#1761 Use `KeyPair` in public APIs [ECR-4116]
  CHANGELOG.md
  cli/src/command/finalize.rs
  cli/src/command/generate_config.rs
  cli/src/command/run.rs
  cli/src/config.rs
  cli/src/config_manager.rs
  cli/src/lib.rs
  cli/tests/cli.rs
  components/crypto/src/crypto_lib/sodiumoxide/x25519.rs
  components/crypto/src/lib.rs
  components/crypto/src/proto/mod.rs
  components/crypto/src/proto/schema/mod.rs
  components/explorer/tests/blockchain/mod.rs
  components/keys/Cargo.toml
  components/keys/README.md
  components/keys/src/lib.rs
  components/system-api/src/lib.rs
  examples/cryptocurrency-advanced/backend/tests/api.rs
  examples/cryptocurrency/examples/demo.rs
  examples/sample_runtime/src/main.rs
  examples/timestamping/backend/tests/config.rs
  exonum-node/src/lib.rs
  exonum-node/src/sandbox/mod.rs
  exonum-node/src/sandbox/tests/basic.rs
  exonum-node/src/sandbox/tests/transactions.rs
  exonum-node/src/sandbox/timestamping.rs
  exonum-node/tests/node.rs
  exonum/src/blockchain/builder.rs
  exonum/src/blockchain/config.rs
  exonum/src/blockchain/mod.rs
  exonum/src/blockchain/tests.rs
  exonum/src/runtime/types.rs
  runtimes/rust/benches/criterion/block.rs
  runtimes/rust/src/api.rs
  runtimes/rust/src/lib.rs
  runtimes/rust/src/service.rs
  runtimes/rust/src/stubs.rs
  runtimes/rust/tests/basic.rs
  runtimes/rust/tests/blockchain_data.rs
  runtimes/rust/tests/migration.rs
  services/supervisor/examples/configuration_change.rs
  services/supervisor/src/api.rs
  services/supervisor/src/proto_structures.rs
  services/supervisor/tests/simple.rs
  services/supervisor/tests/supervisor/config.rs
  services/supervisor/tests/supervisor/migrations/mod.rs
  services/supervisor/tests/supervisor/service_lifecycle.rs
  services/supervisor/tests/supervisor/utils.rs
  services/time/tests/test_exonum_time.rs
  test-suite/testkit/src/builder.rs
  test-suite/testkit/src/lib.rs
  test-suite/testkit/src/network.rs
  test-suite/testkit/tests/inflating_currency/main.rs
  test-suite/testkit/tests/migrations/main.rs
Labels: breaking change :warning:, crypto, update changelog

#1762 Unified iterator types [ECR-4192]
  CHANGELOG.md
  components/merkledb/benches/schema_patterns.rs
  components/merkledb/src/access/extensions.rs
  components/merkledb/src/generic.rs
  components/merkledb/src/indexes/iter.rs
  components/merkledb/src/indexes/key_set.rs
  components/merkledb/src/indexes/list.rs
  components/merkledb/src/indexes/map.rs
  components/merkledb/src/indexes/mod.rs
  components/merkledb/src/indexes/proof_list/key.rs
  components/merkledb/src/indexes/proof_list/mod.rs
  components/merkledb/src/indexes/proof_list/tests.rs
  components/merkledb/src/indexes/proof_map/mod.rs
  components/merkledb/src/indexes/proof_map/tests.rs
  components/merkledb/src/indexes/sparse_list.rs
  components/merkledb/src/indexes/value_set.rs
  components/merkledb/src/lib.rs
  components/merkledb/src/migration.rs
  components/merkledb/src/migration/persistent_iter.rs
  components/merkledb/src/views/mod.rs
  components/merkledb/tests/persistent_iter.rs
  components/merkledb/tests/set.rs
  exonum/src/blockchain/mod.rs
  exonum/src/blockchain/schema.rs
  exonum/src/blockchain/tests.rs
  exonum/src/runtime/dispatcher/migration_tests.rs
  exonum/src/runtime/dispatcher/mod.rs
  exonum/src/runtime/dispatcher/schema.rs
  exonum/src/runtime/dispatcher/tests.rs
  exonum/src/runtime/execution_context.rs
  runtimes/rust/tests/inspected/mod.rs
  services/supervisor/src/transactions.rs
Labels: breaking change :warning:, bug :beetle:, merkledb

#1763 Readonly fork with static lifetime [ECR-4196]
  CHANGELOG.md
  components/merkledb/src/db.rs
  components/merkledb/src/generic.rs
  components/merkledb/src/lib.rs
Labels: merkledb

#1768 Check index / height in `ProofListIndex` [ECR-4194]
  CHANGELOG.md
  components/merkledb/src/indexes/proof_list/key.rs
  components/merkledb/src/indexes/proof_list/mod.rs
  components/merkledb/src/indexes/proof_list/proof.rs
  components/merkledb/src/indexes/proof_list/proof_builder.rs
  components/merkledb/src/indexes/proof_list/tests.rs
  examples/cryptocurrency/src/tx_tests.rs
Labels: bug :beetle:, merkledb

#1769 Exclude itself from the connection list [ECR-4190]
  cli/src/command/finalize.rs
  cli/src/command/generate_config.rs
  cli/src/config.rs
  cli/src/config_manager.rs
  cli/tests/cli.rs
  cli/tests/testdata/config/more_validators/cfg/0/node.toml
  cli/tests/testdata/config/more_validators/cfg/0/sec.toml
  cli/tests/testdata/config/more_validators/cfg/1/node.toml
  cli/tests/testdata/config/more_validators/cfg/1/sec.toml
  cli/tests/testdata/config/more_validators/cfg/2/node.toml
  cli/tests/testdata/config/more_validators/cfg/2/sec.toml
  cli/tests/testdata/config/more_validators/cfg/3/node.toml
  cli/tests/testdata/config/more_validators/cfg/3/sec.toml
  cli/tests/testdata/config/with_pass/cfg/0/node.toml
  cli/tests/testdata/config/with_pass/cfg/0/sec.toml
  cli/tests/testdata/config/without_pass/cfg/0/node.toml
  cli/tests/testdata/config/without_pass/cfg/0/sec.toml
  cli/tests/testdata/config/without_pass/cfg/1/node.toml
  cli/tests/testdata/config/without_pass/cfg/1/sec.toml
  cli/tests/testdata/config/without_pass/cfg/2/node.toml
  cli/tests/testdata/config/without_pass/cfg/2/sec.toml
  cli/tests/testdata/config/without_pass/cfg/3/node.toml
  cli/tests/testdata/config/without_pass/cfg/3/sec.toml
Labels: bug :beetle:, cli

#1765 Support instantiating built-in services in `exonum-cli` [ECR-4141]
  CHANGELOG.md
  cli/Cargo.toml
  cli/src/command/run_dev.rs
  cli/src/lib.rs
  cli/tests/node.rs
  examples/cryptocurrency-advanced/backend/src/lib.rs
  examples/cryptocurrency-advanced/backend/src/main.rs
  examples/cryptocurrency/Cargo.toml
  examples/cryptocurrency/examples/demo.rs
  examples/cryptocurrency/examples/test.ps1
  examples/cryptocurrency/examples/test.sh
  examples/cryptocurrency/src/lib.rs
  examples/timestamping/backend/src/main.rs
  exonum-dictionary.txt
  services/time/examples/exonum_time.rs
Labels: cli, update changelog

#1771 Property testing for index iterators [ECR-4193]
  components/merkledb/tests/iter.rs
Labels: merkledb

#1777 Fix doc flaws
  cli/Cargo.toml
  components/api/README.md
  components/derive/src/lib.rs
  components/merkledb/README.md
  components/merkledb/examples/blockchain.rs
  components/merkledb/examples/manual_migration.rs
  components/merkledb/examples/migration/mod.rs
  components/merkledb/examples/migration_with_helper.rs
  components/merkledb/examples/migration_with_iter_loop.rs
  components/merkledb/src/migration.rs
  components/proto/Cargo.toml
  runtimes/rust/README.md
  runtimes/rust/src/service.rs
  runtimes/rust/src/stubs.rs
  services/explorer/README.md
Labels: documentation

#1779 Remove `MethodDescriptor.name` [ECR-4236]
  components/derive/src/exonum_interface.rs
  examples/cryptocurrency-advanced/backend/tests/multisig.rs
  runtimes/rust/src/stubs.rs
  services/middleware/src/transactions.rs
  services/supervisor/src/configure.rs
  test-suite/testkit/tests/interfaces/services.rs
Labels: breaking change :warning:, rust

#1780 Service freezing [ECR-4215] [ECR-4225]
  examples/sample_runtime/src/main.rs
  exonum/src/blockchain/mod.rs
  exonum/src/blockchain/tests.rs
  exonum/src/proto/schema/exonum/runtime/lifecycle.proto
  exonum/src/runtime/blockchain_data.rs
  exonum/src/runtime/dispatcher/migration_tests.rs
  exonum/src/runtime/dispatcher/mod.rs
  exonum/src/runtime/dispatcher/schema.rs
  exonum/src/runtime/dispatcher/tests.rs
  exonum/src/runtime/execution_context.rs
  exonum/src/runtime/mod.rs
  exonum/src/runtime/types.rs
  runtimes/rust/src/api.rs
  runtimes/rust/src/lib.rs
  runtimes/rust/src/service.rs
  runtimes/rust/tests/async_migration.rs
  runtimes/rust/tests/basic.rs
  runtimes/rust/tests/inspected/mod.rs
  runtimes/rust/tests/migration.rs
  services/supervisor/src/lib.rs
  services/supervisor/src/proto/service.proto
  services/supervisor/src/proto_structures.rs
  services/supervisor/src/transactions.rs
  services/supervisor/tests/supervisor/deploy_failures.rs
  services/supervisor/tests/supervisor/migrations/mod.rs
  services/supervisor/tests/supervisor/service_lifecycle.rs
  test-suite/testkit/src/api.rs
  test-suite/testkit/src/lib.rs
  test-suite/testkit/tests/api.rs
  test-suite/testkit/tests/api_service/mod.rs
  test-suite/testkit/tests/hooks_service/mod.rs
  test-suite/testkit/tests/runtime.rs
  test-suite/testkit/tests/service_hooks.rs
  test-suite/testkit/tests/supervisor/mod.rs
Labels: breaking change :warning:, core, rust

#1784 Index proof verification [ECR-4249]
  components/merkledb/src/hash.rs
  examples/cryptocurrency-advanced/backend/tests/api.rs
  exonum/src/blockchain/block.rs
  test-suite/testkit/tests/counter/counter.rs
  test-suite/testkit/tests/counter/main.rs
Labels: core

#1785 Clarify incorrect tx processing in testkit [ECR-4244]
  CHANGELOG.md
  test-suite/testkit/src/lib.rs
  test-suite/testkit/tests/counter/counter.rs
  test-suite/testkit/tests/counter/main.rs
  test-suite/testkit/tests/service_hooks.rs
Labels: testkit

#1781 Fix saving majority-approved `Propose`s [ECR-4253]
  CHANGELOG.md
  exonum-node/src/basic.rs
  exonum-node/src/consensus.rs
  exonum-node/src/messages/types.rs
  exonum-node/src/sandbox/mod.rs
  exonum-node/src/sandbox/sandbox_tests_helper.rs
  exonum-node/src/sandbox/tests/round_details.rs
  exonum-node/src/sandbox/tests/transactions.rs
  exonum-node/src/state.rs
Labels: bug :beetle:

#1782 Fix `Propose` invalidation logic [ECR-4223]
  .travis.yml
  CHANGELOG.md
  Cargo.toml
  exonum-node/src/sandbox/tests/round_details.rs
  exonum-node/src/state.rs
  test-suite/soak-tests/Cargo.toml
  test-suite/soak-tests/README.md
  test-suite/soak-tests/src/services.rs
  test-suite/soak-tests/src/toggle.rs
Labels: bug :beetle:

#1786 Use fresh Rust version in travis [ECR-4211]
  .travis.yml
  cli/src/command/run_dev.rs
  cli/tests/cli.rs
  components/api/src/backends/actix.rs
  components/crypto/src/crypto_lib/sodiumoxide/x25519.rs
  components/crypto/src/lib.rs
  components/explorer/src/lib.rs
  components/keys/src/lib.rs
  components/merkledb/src/db.rs
  components/merkledb/src/indexes/proof_list/tests.rs
  components/merkledb/src/keys.rs
  components/merkledb/src/lib.rs
  components/merkledb/src/proto/mod.rs
  components/merkledb/src/views/metadata.rs
  examples/timestamping/backend/src/transactions.rs
  examples/timestamping/backend/tests/api.rs
  exonum-node/benches/transactions.rs
  exonum-node/src/connect_list.rs
  exonum-node/src/events/tests.rs
  exonum-node/src/lib.rs
  exonum-node/src/messages/mod.rs
  exonum-node/src/sandbox/tests/config.rs
  exonum-node/src/sandbox/tests/round_details.rs
  exonum-node/src/sandbox/tests/transactions.rs
  exonum-node/src/sandbox/tests/unsynchronized_message.rs
  exonum/src/blockchain/block.rs
  exonum/src/blockchain/config.rs
  exonum/src/lib.rs
  exonum/src/runtime/dispatcher/migration_tests.rs
  exonum/src/runtime/dispatcher/tests.rs
  exonum/src/runtime/error/execution_error.rs
  runtimes/rust/tests/async_migration.rs
  runtimes/rust/tests/basic.rs
  runtimes/rust/tests/inspected/mod.rs
  runtimes/rust/tests/migration.rs
  services/explorer/tests/api.rs
  services/explorer/tests/websocket.rs
  services/supervisor/examples/configuration_change.rs
  services/supervisor/tests/simple.rs
  services/supervisor/tests/supervisor/config.rs
  services/supervisor/tests/supervisor/config_api.rs
  services/supervisor/tests/supervisor/main.rs
  services/supervisor/tests/supervisor/supervisor_config.rs
  services/time/src/time_provider.rs
  test-suite/testkit/src/builder.rs
  test-suite/testkit/src/lib.rs
  test-suite/testkit/src/server.rs
  test-suite/testkit/tests/api.rs
  test-suite/testkit/tests/inflating_currency/main.rs
  test-suite/testkit/tests/migrations/main.rs
  test-suite/testkit/tests/runtime.rs
  test-suite/testkit/tests/service_hooks.rs
Labels: rust

#1787 Freeze support in supervisor [ECR-4226] [ECR-4227]
  CHANGELOG.md
  exonum/src/runtime/dispatcher/migration_tests.rs
  exonum/src/runtime/dispatcher/mod.rs
  exonum/src/runtime/dispatcher/tests.rs
  exonum/src/runtime/error/common_errors.rs
  exonum/src/runtime/execution_context.rs
  exonum/src/runtime/migrations.rs
  exonum/src/runtime/mod.rs
  exonum/src/runtime/types.rs
  runtimes/rust/src/lib.rs
  runtimes/rust/tests/inspected/mod.rs
  services/supervisor/README.md
  services/supervisor/src/configure.rs
  services/supervisor/src/lib.rs
  services/supervisor/src/proto/service.proto
  services/supervisor/src/proto_structures.rs
  services/supervisor/src/transactions.rs
  services/supervisor/tests/supervisor/migrations/migration_service.rs
  services/supervisor/tests/supervisor/migrations/mod.rs
  services/supervisor/tests/supervisor/service_lifecycle.rs
  test-suite/testkit/tests/supervisor/mod.rs
Labels: supervisor

#1788 Remove future from the Runtime trait [ECR-4263]
  CHANGELOG.md
  components/explorer/Cargo.toml
  examples/sample_runtime/src/main.rs
  exonum-dictionary.txt
  exonum/src/blockchain/mod.rs
  exonum/src/blockchain/tests.rs
  exonum/src/runtime/dispatcher/migration_tests.rs
  exonum/src/runtime/dispatcher/mod.rs
  exonum/src/runtime/dispatcher/tests.rs
  exonum/src/runtime/mod.rs
  exonum/src/runtime/oneshot.rs
  runtimes/rust/src/lib.rs
  runtimes/rust/src/service.rs
  runtimes/rust/tests/inspected/mod.rs
  services/supervisor/Cargo.toml
  services/supervisor/tests/supervisor/deploy_failures.rs
  services/supervisor/tests/supervisor/service_lifecycle.rs
  test-suite/testkit/tests/runtime.rs
Labels: breaking change :warning:, rust, update changelog

#1789 Fix panic during node shutdown [ECR-4254]
  exonum-node/src/events/internal.rs
  exonum-node/src/lib.rs
  test-suite/soak-tests/src/toggle.rs
Labels: bug :beetle:

#1790 Refine endpoints in system-api plugin [ECR-4154]
  .travis.yml
  CHANGELOG.md
  cli/tests/node.rs
  components/system-api/Cargo.toml
  components/system-api/src/lib.rs
  components/system-api/src/private.rs
  components/system-api/src/public.rs
  components/system-api/tests/system_api.rs
  exonum/Cargo.toml
  exonum/build.rs
  exonum/src/helpers/mod.rs
  exonum/src/helpers/user_agent.rs
  services/supervisor/src/api.rs
Labels: breaking change :warning:, supervisor, update changelog

#1791 Delete ranges [ECR-3899]
  CHANGELOG.md
  components/merkledb/benches/storage.rs
  components/merkledb/src/backends/rocksdb.rs
  components/merkledb/src/backends/temporarydb.rs
Labels: merkledb

#1792 Proofs for call status [ECR-4246]
  CHANGELOG.md
  components/explorer/examples/explorer.rs
  components/explorer/src/api.rs
  components/explorer/src/lib.rs
  components/merkledb/src/indexes/proof_map/proof.rs
  exonum/src/blockchain/block.rs
  exonum/src/blockchain/mod.rs
  exonum/src/blockchain/schema.rs
  exonum/src/proto/details/details.proto
  exonum/src/proto/schema/exonum/runtime/errors.proto
  exonum/src/runtime/error/execution_error.rs
  exonum/src/runtime/error/execution_status.rs
  exonum/src/runtime/error/mod.rs
  exonum/src/runtime/error/tests.rs
  exonum/src/runtime/mod.rs
  services/explorer/src/api.rs
  services/explorer/tests/api.rs
  services/supervisor/src/event_state.rs
  services/supervisor/tests/supervisor/config.rs
  test-suite/testkit/tests/diverging_errors.rs
Labels: breaking change :warning:, bug :beetle:, core

#1794 Artifact unloading [ECR-4282] [ECR-4284]
  exonum/src/blockchain/mod.rs
  exonum/src/proto/schema/exonum/runtime/lifecycle.proto
  exonum/src/runtime/dispatcher/migration_tests.rs
  exonum/src/runtime/dispatcher/mod.rs
  exonum/src/runtime/dispatcher/schema.rs
  exonum/src/runtime/dispatcher/tests.rs
  exonum/src/runtime/error/core_errors.rs
  exonum/src/runtime/execution_context.rs
  exonum/src/runtime/mod.rs
  exonum/src/runtime/types.rs
  runtimes/rust/src/lib.rs
  runtimes/rust/tests/basic.rs
  runtimes/rust/tests/inspected/mod.rs
  test-suite/testkit/tests/api.rs
  test-suite/testkit/tests/supervisor/mod.rs
Labels: core, rust

#1798 Artifact unloading in supervisor [ECR-4286] [ECR-4224]
  exonum/src/runtime/dispatcher/schema.rs
  exonum/src/runtime/types.rs
  services/supervisor/README.md
  services/supervisor/src/errors.rs
  services/supervisor/src/lib.rs
  services/supervisor/src/proto/service.proto
  services/supervisor/src/proto_structures.rs
  services/supervisor/src/transactions.rs
  services/supervisor/tests/supervisor/config.rs
  services/supervisor/tests/supervisor/main.rs
  services/supervisor/tests/supervisor/migrations/mod.rs
  services/supervisor/tests/supervisor/service_lifecycle.rs
Labels: supervisor
