Repository exonum/exonum, pull requests merged in 2020-03, with the labels that each got.

#1803 Polish docs on artifact unloading [ECR-4285]
  CHANGELOG.md
  exonum/src/runtime/execution_context.rs
  exonum/src/runtime/mod.rs
Labels: documentation

#1800 Refactor node builders [ECR-4298]
  CHANGELOG.md
  cli/src/lib.rs
  cli/tests/node.rs
  examples/cryptocurrency-advanced/backend/src/main.rs
  examples/cryptocurrency-advanced/backend/tests/api.rs
  examples/cryptocurrency-advanced/backend/tests/multisig.rs
  examples/cryptocurrency/examples/demo.rs
  examples/cryptocurrency/tests/api.rs
  examples/sample_runtime/src/main.rs
  examples/timestamping/backend/src/main.rs
  examples/timestamping/backend/tests/api.rs
  examples/timestamping/backend/tests/config.rs
  exonum/src/blockchain/config.rs
  runtimes/rust/src/lib.rs
  runtimes/rust/src/spec.rs
  runtimes/rust/tests/async_migration.rs
  services/explorer/src/api.rs
  services/explorer/src/api/websocket/mod.rs
  services/explorer/src/lib.rs
  services/explorer/tests/api.rs
  services/explorer/tests/service_logic.rs
  services/explorer/tests/websocket.rs
  services/middleware/tests/tx_logic.rs
  services/supervisor/examples/configuration_change.rs
  services/supervisor/src/api.rs
  services/supervisor/src/lib.rs
  services/supervisor/tests/simple.rs
  services/supervisor/tests/supervisor/config.rs
  services/supervisor/tests/supervisor/consensus_config.rs
  services/supervisor/tests/supervisor/deploy_failures.rs
  services/supervisor/tests/supervisor/main.rs
  services/supervisor/tests/supervisor/migrations/mod.rs
  services/supervisor/tests/supervisor/service_lifecycle.rs
  services/supervisor/tests/supervisor/supervisor_config.rs
  services/supervisor/tests/supervisor/utils.rs
  services/time/examples/exonum_time.rs
  services/time/examples/simple_service/main.rs
  services/time/src/api.rs
  services/time/src/lib.rs
  services/time/tests/test_exonum_time.rs
  test-suite/rust-runtime-proto/src/lib.rs
  test-suite/testkit/examples/timestamping/main.rs
  test-suite/testkit/server/src/main.rs
  test-suite/testkit/src/builder.rs
  test-suite/testkit/src/lib.rs
  test-suite/testkit/src/network.rs
  test-suite/testkit/src/server.rs
  test-suite/testkit/tests/api.rs
  test-suite/testkit/tests/counter/main.rs
  test-suite/testkit/tests/diverging_errors.rs
  test-suite/testkit/tests/inflating_currency/main.rs
  test-suite/testkit/tests/interfaces/main.rs
  test-suite/testkit/tests/runtime.rs
  test-suite/testkit/tests/service_hooks.rs
Labels: breaking change :warning:, cli, discussion :speech_balloon:, testkit

#1801 Restore deploy tests [ECR-4299] [ECR-4182]
  .travis.yml
  examples/cryptocurrency-advanced/backend/Cargo.toml
  examples/cryptocurrency-advanced/backend/examples/cryptocurrency-migration.rs
  examples/cryptocurrency-advanced/backend/src/lib.rs
  examples/cryptocurrency-advanced/backend/src/migrations/mod.rs
  examples/cryptocurrency-advanced/backend/src/migrations/tests.rs
  examples/cryptocurrency-advanced/backend/src/schema.rs
  examples/cryptocurrency-advanced/tutorial/frontend.md
  examples/cryptocurrency/Cargo.toml
  examples/cryptocurrency/src/lib.rs
  test-suite/exonum-py-tests/exonum_tests/__init__.py
  test-suite/exonum-py-tests/exonum_tests/crypto_advanced.py
  test-suite/exonum-py-tests/exonum_tests/deploy.py
  test-suite/exonum-py-tests/suite/common.py
  test-suite/exonum-py-tests/suite/crypto_advanced_client.py
  test-suite/testkit/server/Cargo.toml
Labels: integration-tests

#1806 Report errors in dispatcher more thoroughly [ECR-4245]
  CHANGELOG.md
  exonum/src/blockchain/tests.rs
  exonum/src/runtime/dispatcher/migration_tests.rs
  exonum/src/runtime/dispatcher/mod.rs
  exonum/src/runtime/dispatcher/schema.rs
  exonum/src/runtime/dispatcher/tests.rs
  exonum/src/runtime/error/core_errors.rs
  exonum/src/runtime/execution_context.rs
  runtimes/rust/tests/async_migration.rs
  runtimes/rust/tests/basic.rs
  runtimes/rust/tests/migration.rs
  services/explorer/tests/websocket.rs
Labels: breaking change :warning:, core

#1811 Add TestKitApiClient
  CHANGELOG.md
  test-suite/testkit/src/api.rs
  test-suite/testkit/src/lib.rs
Labels: testkit, update changelog

#1809 Rework transaction pool [ECR-4317]
  .travis.yml
  CHANGELOG.md
  cli/tests/testdata/config/with_pass/cfg/0/node.toml
  cli/tests/testdata/config/without_pass/cfg/0/node.toml
  cli/tests/testdata/config/without_pass/cfg/1/node.toml
  cli/tests/testdata/config/without_pass/cfg/2/node.toml
  cli/tests/testdata/config/without_pass/cfg/3/node.toml
  components/explorer/tests/blockchain/mod.rs
  exonum-node/Cargo.toml
  exonum-node/src/basic.rs
  exonum-node/src/consensus.rs
  exonum-node/src/events_impl.rs
  exonum-node/src/lib.rs
  exonum-node/src/requests.rs
  exonum-node/src/sandbox/mod.rs
  exonum-node/src/sandbox/sandbox_tests_helper.rs
  exonum-node/src/sandbox/tests/transactions.rs
  exonum-node/src/state.rs
  exonum-node/tests/node.rs
  exonum/src/blockchain/mod.rs
  exonum/src/blockchain/schema.rs
  exonum/src/blockchain/tests.rs
  exonum/src/runtime/dispatcher/migration_tests.rs
  runtimes/rust/benches/criterion/block.rs
  runtimes/rust/src/spec.rs
  runtimes/rust/tests/basic.rs
  runtimes/rust/tests/blockchain_data.rs
  runtimes/rust/tests/inspected/mod.rs
  services/explorer/src/api.rs
  test-suite/soak-tests/Cargo.toml
  test-suite/soak-tests/README.md
  test-suite/soak-tests/src/bin/send_txs.rs
  test-suite/soak-tests/src/bin/toggle.rs
  test-suite/soak-tests/src/lib.rs
  test-suite/soak-tests/src/services.rs
  test-suite/soak-tests/src/toggle.rs
  test-suite/testkit/src/lib.rs
Labels: breaking change :warning:, bug :beetle:, consensus-tests, core

#1815 Brush up async code
  CHANGELOG.md
  components/api/src/manager.rs
  exonum-node/Cargo.toml
  exonum-node/src/events/codec.rs
  exonum-node/src/lib.rs
  exonum-node/tests/node.rs
  test-suite/soak-tests/src/bin/toggle.rs
Labels: update changelog

#1821 Make public constants in cli::command::generate_config module [ECR-4341]
  CHANGELOG.md
  cli/src/command/mod.rs
Labels: cli, update changelog

#1823 Supervisor brush-up [ECR-4346]
  CHANGELOG.md
  examples/cryptocurrency-advanced/backend/src/migrations/tests.rs
  services/supervisor/Cargo.toml
  services/supervisor/src/api.rs
  services/supervisor/src/lib.rs
  services/supervisor/src/proto/service.proto
  services/supervisor/src/proto_structures.rs
  services/supervisor/src/transactions.rs
  services/supervisor/tests/simple.rs
  services/supervisor/tests/supervisor/deploy_failures.rs
  services/supervisor/tests/supervisor/migrations/mod.rs
  services/supervisor/tests/supervisor/supervisor_config.rs
  services/supervisor/tests/supervisor/utils.rs
Labels: breaking change :warning:, supervisor

#1829 Fix supervisor API [ECR-4368]
  components/api/src/backends/actix.rs
  components/api/src/error.rs
  components/api/src/lib.rs
  components/proto/Cargo.toml
  components/proto/src/lib.rs
  components/proto/src/tests.rs
  exonum-dictionary.txt
  runtimes/rust/Cargo.toml
  runtimes/rust/src/api.rs
  services/supervisor/Cargo.toml
  services/supervisor/src/api.rs
  services/supervisor/src/proto_structures.rs
  test-suite/rust-runtime-proto/Cargo.toml
  test-suite/rust-runtime-proto/build.rs
  test-suite/rust-runtime-proto/src/proto/mod.rs
  test-suite/rust-runtime-proto/src/proto/service.proto
  test-suite/rust-runtime-proto/src/service.rs
  test-suite/rust-runtime-proto/src/tests.rs
Labels: bug :beetle:, supervisor

#1828 Work around server restart on Windows [ECR-3950]
  CHANGELOG.md
  components/api/README.md
  components/api/src/manager.rs
Labels: bug :beetle:

#1820 Customize propose creation logic [ECR-4347] [ECR-4348]
  .travis.yml
  CHANGELOG.md
  components/explorer/tests/blockchain/mod.rs
  exonum-node/src/basic.rs
  exonum-node/src/consensus.rs
  exonum-node/src/events/codec.rs
  exonum-node/src/events/internal.rs
  exonum-node/src/lib.rs
  exonum-node/src/messages/mod.rs
  exonum-node/src/messages/types.rs
  exonum-node/src/proposer.rs
  exonum-node/src/proto/consensus.proto
  exonum-node/src/requests.rs
  exonum-node/src/sandbox/mod.rs
  exonum-node/src/sandbox/sandbox_tests_helper.rs
  exonum-node/src/sandbox/supervisor.rs
  exonum-node/src/sandbox/tests/basic.rs
  exonum-node/src/sandbox/tests/block_request.rs
  exonum-node/src/sandbox/tests/config.rs
  exonum-node/src/sandbox/tests/mod.rs
  exonum-node/src/sandbox/tests/old.rs
  exonum-node/src/sandbox/tests/recovery.rs
  exonum-node/src/sandbox/tests/round_details.rs
  exonum-node/src/sandbox/tests/skips.rs
  exonum-node/src/sandbox/tests/transactions.rs
  exonum-node/src/state.rs
  exonum-node/tests/node.rs
  exonum/src/blockchain/block.rs
  exonum/src/blockchain/mod.rs
  exonum/src/blockchain/schema.rs
  exonum/src/blockchain/tests.rs
  exonum/src/messages/mod.rs
  exonum/src/messages/types.rs
  exonum/src/proto/schema/exonum/messages.proto
  exonum/src/runtime/dispatcher/migration_tests.rs
  runtimes/rust/benches/criterion/block.rs
  runtimes/rust/tests/basic.rs
  runtimes/rust/tests/blockchain_data.rs
  runtimes/rust/tests/inspected/mod.rs
  services/explorer/tests/api.rs
  test-suite/soak-tests/README.md
  test-suite/soak-tests/src/bin/send_txs.rs
  test-suite/soak-tests/src/bin/sleepy.rs
  test-suite/soak-tests/src/bin/toggle.rs
  test-suite/soak-tests/src/lib.rs
  test-suite/testkit/src/lib.rs
  test-suite/testkit/tests/counter/main.rs
Labels: breaking change :warning:, bug :beetle:, consensus-tests, core

#1824 Work around UB during RocksDB drop (maybe) [ECR-4358]
  components/api/src/manager.rs
  components/merkledb/Cargo.toml
  components/merkledb/src/backends/rocksdb.rs
  exonum-dictionary.txt
  exonum-node/src/lib.rs
  test-suite/exonum-py-tests/exonum_tests/deploy.py
  test-suite/exonum-py-tests/exonum_tests/freeze.py
  test-suite/exonum-py-tests/suite/common.py
Labels: bug :beetle:, merkledb

#1831 Allow to POST Protobuf messages from `TestKitApi` [ECR-3948]
  CHANGELOG.md
  exonum-dictionary.txt
  runtimes/rust/src/lib.rs
  test-suite/rust-runtime-proto/src/tests.rs
  test-suite/testkit/Cargo.toml
  test-suite/testkit/src/api.rs
Labels: bug :beetle:, testkit

#1836 Remove `Runtime::shutdown()` [ECR-4359]
  exonum-node/src/events_impl.rs
  exonum/src/blockchain/mod.rs
  exonum/src/runtime/dispatcher/mod.rs
  exonum/src/runtime/dispatcher/tests.rs
  exonum/src/runtime/mod.rs
  runtimes/rust/tests/inspected/mod.rs
Labels: breaking change :warning:, core
