Repository exonum/exonum, pull requests merged in 2020-01, with the labels that each got.

#1662 Iterator over groups [ECR-3904]
  CHANGELOG.md
  components/merkledb/src/access/mod.rs
  components/merkledb/src/indexes/group.rs
  components/merkledb/src/lib.rs
  components/merkledb/src/migration.rs
  components/merkledb/src/views/address.rs
  components/merkledb/src/views/metadata.rs
  components/merkledb/src/views/mod.rs
Labels: merkledb

#1650 Migration tools [ECR-4056]
  cli/src/lib.rs
  examples/cryptocurrency/examples/demo.rs
  examples/sample_runtime/src/main.rs
  exonum-dictionary.txt
  exonum/benches/criterion/block.rs
  exonum/src/node/mod.rs
  exonum/src/runtime/blockchain_data.rs
  exonum/src/runtime/migrations.rs
  exonum/src/runtime/mod.rs
  exonum/src/runtime/rust/mod.rs
  exonum/src/runtime/rust/tests.rs
  services/supervisor/tests/supervisor/main.rs
  test-suite/consensus-tests/src/lib.rs
  test-suite/node-tests/src/blockchain.rs
  test-suite/node-tests/src/tests/node.rs
  test-suite/node-tests/src/tests/websocket.rs
  test-suite/testkit/build.rs
  test-suite/testkit/src/builder.rs
  test-suite/testkit/src/lib.rs
  test-suite/testkit/src/migrations.rs
  test-suite/testkit/tests/migrations/main.rs
  test-suite/testkit/tests/migrations/proto/migrations.proto
  test-suite/testkit/tests/migrations/proto/mod.rs
  test-suite/testkit/tests/service_hooks/main.rs
Labels: core, discussion :speech_balloon:, rust, testkit

#1659 Make infallible runtime/dispatcher methods panicking [ECR-4018]
  CHANGELOG.md
  examples/sample_runtime/src/main.rs
  exonum/benches/criterion/block.rs
  exonum/src/blockchain/builder.rs
  exonum/src/blockchain/mod.rs
  exonum/src/blockchain/tests.rs
  exonum/src/node/mod.rs
  exonum/src/runtime/blockchain_data.rs
  exonum/src/runtime/dispatcher/mod.rs
  exonum/src/runtime/dispatcher/tests.rs
  exonum/src/runtime/error.rs
  exonum/src/runtime/mod.rs
  exonum/src/runtime/rust/call_context.rs
  exonum/src/runtime/rust/mod.rs
  exonum/src/runtime/rust/tests.rs
  services/supervisor/src/transactions.rs
  services/supervisor/tests/supervisor/deploy_failures.rs
  test-suite/consensus-tests/src/lib.rs
  test-suite/node-tests/src/blockchain.rs
  test-suite/testkit/src/lib.rs
  test-suite/testkit/tests/runtime.rs
Labels: breaking change :warning:, core, update changelog

#1669 Improve migration functionality [ECR-4078] [ECR-4079]
  components/merkledb/Cargo.toml
  components/merkledb/examples/migration.rs
  components/merkledb/src/db.rs
  components/merkledb/src/indexes/group.rs
  components/merkledb/src/migration.rs
  components/merkledb/src/migration/persistent_iter.rs
  components/merkledb/src/views/address.rs
  components/merkledb/src/views/metadata.rs
  components/merkledb/tests/migration.rs
  components/merkledb/tests/persistent_iter.rs
  exonum/src/runtime/migrations.rs
  test-suite/testkit/src/migrations.rs
  test-suite/testkit/tests/migrations/main.rs
Labels: discussion :speech_balloon:, merkledb

#1638 Use rust-rocksdb 0.13 [ECR-3848]
  LICENSE
  components/merkledb/Cargo.toml
  components/merkledb/LICENSE
  components/merkledb/src/backends/rocksdb.rs
  components/merkledb/src/backends/temporarydb.rs
  components/merkledb/src/indexes/group.rs
  components/merkledb/src/indexes/proof_list/proof_builder.rs
  components/merkledb/src/indexes/proof_map/proof_builder.rs
  components/merkledb/src/indexes/proof_map/tests.rs
  components/merkledb/src/lazy.rs
  components/merkledb/src/views/address.rs
  components/merkledb/src/views/system_schema.rs
  components/merkledb/tests/checkpoints.rs
  components/merkledb/tests/components.rs
  components/merkledb/tests/state_aggregation.rs
  cspell.sh
  examples/cryptocurrency-advanced/LICENSE
  examples/cryptocurrency/LICENSE
  examples/sample_runtime/LICENSE
  examples/timestamping/LICENSE
  exonum-dictionary.txt
  services/middleware/LICENSE
  services/supervisor/LICENSE
  services/time/LICENSE
  test-suite/testkit/LICENSE
  test-suite/testkit/server/test/index.js
  test-suite/testkit/server/test/service.js
  test-suite/testkit/server/test/testkit.js
Labels: merkledb

#1651 Document AdditionalHeaders and hide OrderedMap [ECR-4061]
  exonum/src/blockchain/block.rs
  exonum/src/helpers/mod.rs
  exonum/src/helpers/ordered_map.rs
  exonum/src/proto/mod.rs
  exonum/src/proto/schema/exonum/blockchain.proto
  exonum/src/proto/schema/exonum/key_value_sequence.proto
  test-suite/testkit/tests/runtime_api/main.rs
Labels: documentation

#1677 Fix an issue related to config generation [ECR-4088]
  cli/src/command/finalize.rs
  cli/src/command/generate_config.rs
  cli/src/command/generate_template.rs
  cli/src/config.rs
  cli/src/config_manager.rs
  cli/tests/cli.rs
  cli/tests/testdata/config/more_validators/cfg/0/node.toml
  cli/tests/testdata/config/more_validators/cfg/0/pub.toml
  cli/tests/testdata/config/more_validators/cfg/1/node.toml
  cli/tests/testdata/config/more_validators/cfg/1/pub.toml
  cli/tests/testdata/config/more_validators/cfg/2/node.toml
  cli/tests/testdata/config/more_validators/cfg/2/pub.toml
  cli/tests/testdata/config/more_validators/cfg/3/node.toml
  cli/tests/testdata/config/more_validators/cfg/3/pub.toml
  cli/tests/testdata/config/with_pass/cfg/0/pub.toml
  cli/tests/testdata/config/without_pass/cfg/0/node.toml
  cli/tests/testdata/config/without_pass/cfg/0/pub.toml
  cli/tests/testdata/config/without_pass/cfg/1/node.toml
  cli/tests/testdata/config/without_pass/cfg/1/pub.toml
  cli/tests/testdata/config/without_pass/cfg/2/node.toml
  cli/tests/testdata/config/without_pass/cfg/2/pub.toml
  cli/tests/testdata/config/without_pass/cfg/3/node.toml
  cli/tests/testdata/config/without_pass/cfg/3/pub.toml
  examples/cryptocurrency/examples/test.ps1
  examples/cryptocurrency/examples/test.sh
Labels: bug :beetle:, cli

#1681 Allow to use slash in artifact names [ECR-4077]
  CHANGELOG.md
  components/derive/src/service_factory.rs
  exonum/src/runtime/types.rs
Labels: core, merkledb, update changelog

#1686 Make DefaultConfigManager public
  cli/src/lib.rs
Labels: cli

#1687 Add wait for network starting instead of sleep()
  test-suite/exonum-py-tests/exonum_tests/api.py
  test-suite/exonum-py-tests/exonum_tests/crypto_advanced.py
  test-suite/exonum-py-tests/exonum_tests/deploy.py
  test-suite/exonum-py-tests/suite/common.py
Labels: integration-tests

#1671 Improve `node` module in main crate [ECR-3947]
  CHANGELOG.md
  cli/src/config.rs
  cli/src/config_manager.rs
  cli/tests/testdata/config/more_validators/cfg/0/node.toml
  cli/tests/testdata/config/more_validators/cfg/0/sec.toml
  cli/tests/testdata/config/more_validators/cfg/1/node.toml
  cli/tests/testdata/config/more_validators/cfg/1/sec.toml
  cli/tests/testdata/config/more_validators/cfg/2/node.toml
  cli/tests/testdata/config/more_validators/cfg/2/sec.toml
  cli/tests/testdata/config/more_validators/cfg/3/node.toml
  cli/tests/testdata/config/more_validators/cfg/3/sec.toml
  cli/tests/testdata/config/with_pass/cfg/0/node.toml
  cli/tests/testdata/config/with_pass/cfg/0/sec.toml
  cli/tests/testdata/config/without_pass/cfg/0/node.toml
  cli/tests/testdata/config/without_pass/cfg/0/sec.toml
  cli/tests/testdata/config/without_pass/cfg/1/node.toml
  cli/tests/testdata/config/without_pass/cfg/1/sec.toml
  cli/tests/testdata/config/without_pass/cfg/2/node.toml
  cli/tests/testdata/config/without_pass/cfg/2/sec.toml
  cli/tests/testdata/config/without_pass/cfg/3/node.toml
  cli/tests/testdata/config/without_pass/cfg/3/sec.toml
  examples/cryptocurrency/examples/demo.rs
  examples/sample_runtime/src/main.rs
  exonum/benches/criterion/transactions.rs
  exonum/src/api/error.rs
  exonum/src/api/node/private/mod.rs
  exonum/src/events/internal.rs
  exonum/src/events/mod.rs
  exonum/src/events/network.rs
  exonum/src/events/tests.rs
  exonum/src/helpers/config.rs
  exonum/src/helpers/mod.rs
  exonum/src/node/basic.rs
  exonum/src/node/connect_list.rs
  exonum/src/node/consensus.rs
  exonum/src/node/events.rs
  exonum/src/node/mod.rs
  exonum/src/node/requests.rs
  exonum/src/node/state.rs
  exonum/src/runtime/dispatcher/tests.rs
  runtimes/rust/benches/criterion/block.rs
  runtimes/rust/src/api.rs
  runtimes/rust/src/service.rs
  services/explorer/src/api.rs
  services/explorer/tests/websocket.rs
  test-suite/consensus-tests/src/lib.rs
  test-suite/consensus-tests/tests/recovery.rs
  test-suite/node-tests/src/node.rs
  test-suite/testkit/src/api.rs
  test-suite/testkit/src/lib.rs
Labels: breaking change :warning:, cli, core

#1676 Extend migration example for MerkleDB [ECR-4028]
  .travis.yml
  components/merkledb/Cargo.toml
  components/merkledb/examples/manual_migration.rs
  components/merkledb/examples/migration/mod.rs
  components/merkledb/examples/migration_with_helper.rs
  components/merkledb/examples/migration_with_iter_loop.rs
Labels: merkledb

#1680 Revise common runtime errors [ECR-3984]
  CHANGELOG.md
  components/derive/src/execution_fail.rs
  components/derive/src/exonum_interface.rs
  components/derive/src/service_dispatcher.rs
  components/explorer/src/lib.rs
  examples/cryptocurrency-advanced/backend/src/transactions.rs
  examples/sample_runtime/src/main.rs
  examples/timestamping/backend/src/lib.rs
  examples/timestamping/backend/src/transactions.rs
  exonum-dictionary.txt
  exonum/src/blockchain/tests.rs
  exonum/src/proto/schema/exonum/runtime.proto
  exonum/src/runtime/dispatcher/mod.rs
  exonum/src/runtime/dispatcher/schema.rs
  exonum/src/runtime/dispatcher/tests.rs
  exonum/src/runtime/error.rs
  exonum/src/runtime/error/common_errors.rs
  exonum/src/runtime/error/core_errors.rs
  exonum/src/runtime/error/error_kind.rs
  exonum/src/runtime/error/error_match.rs
  exonum/src/runtime/error/execution_error.rs
  exonum/src/runtime/error/execution_result.rs
  exonum/src/runtime/error/execution_status.rs
  exonum/src/runtime/error/mod.rs
  exonum/src/runtime/error/tests.rs
  exonum/src/runtime/mod.rs
  exonum/src/runtime/versioning.rs
  runtimes/rust/src/call_context.rs
  runtimes/rust/src/lib.rs
  runtimes/rust/tests/runtime.rs
  services/explorer/tests/api.rs
  services/explorer/tests/websocket.rs
  services/middleware/src/transactions.rs
  services/middleware/tests/inc/mod.rs
  services/middleware/tests/tx_logic.rs
  services/supervisor/src/configure.rs
  services/supervisor/src/deploy_state.rs
  services/supervisor/src/errors.rs
  services/supervisor/src/lib.rs
  services/supervisor/src/transactions.rs
  services/supervisor/tests/simple.rs
  services/supervisor/tests/supervisor/config.rs
  services/supervisor/tests/supervisor/inc.rs
  services/supervisor/tests/supervisor/main.rs
  services/supervisor/tests/supervisor/service_lifecycle.rs
  test-suite/testkit/tests/interfaces/main.rs
Labels: breaking change :warning:, core, update changelog

#1682 Migrations in `Runtime` / dispatcher [ECR-3891]
  .travis.yml
  components/merkledb/examples/manual_migration.rs
  components/merkledb/examples/migration_with_helper.rs
  components/merkledb/examples/migration_with_iter_loop.rs
  components/merkledb/src/migration.rs
  examples/sample_runtime/src/main.rs
  exonum/src/blockchain/mod.rs
  exonum/src/blockchain/tests.rs
  exonum/src/proto/schema/exonum/runtime.proto
  exonum/src/runtime/blockchain_data.rs
  exonum/src/runtime/dispatcher/migration_tests.rs
  exonum/src/runtime/dispatcher/mod.rs
  exonum/src/runtime/dispatcher/schema.rs
  exonum/src/runtime/dispatcher/tests.rs
  exonum/src/runtime/error/core_errors.rs
  exonum/src/runtime/error/execution_error.rs
  exonum/src/runtime/migrations.rs
  exonum/src/runtime/mod.rs
  exonum/src/runtime/types.rs
  runtimes/rust/src/call_context.rs
  runtimes/rust/src/lib.rs
  runtimes/rust/tests/runtime.rs
  services/supervisor/tests/supervisor/deploy_failures.rs
  test-suite/testkit/src/migrations.rs
  test-suite/testkit/tests/migrations/main.rs
  test-suite/testkit/tests/runtime.rs
Labels: core, discussion :speech_balloon:, merkledb

#1685 Brush up explorer [ECR-4084] [ECR-4092]
  components/explorer/Cargo.toml
  components/explorer/src/api.rs
  components/explorer/src/api/websocket.rs
  components/explorer/src/lib.rs
  services/explorer/README.md
  services/explorer/src/api.rs
  services/explorer/src/api/websocket/glue.rs
  services/explorer/src/api/websocket/mod.rs
  services/explorer/src/lib.rs
  services/explorer/src/websocket.rs
  services/explorer/tests/websocket.rs
  test-suite/testkit/src/api.rs
Labels: documentation

#1691 Add more tests for the latest launcher functionality
  test-suite/exonum-py-tests/exonum_tests/deploy.py
Labels: integration-tests

#1690 Move `api` module out of main crate [ECR-3949]
  CHANGELOG.md
  Cargo.toml
  cli/Cargo.toml
  cli/src/lib.rs
  cli/tests/cli.rs
  components/api/Cargo.toml
  components/api/LICENSE
  components/api/README.md
  components/api/src/backends/actix.rs
  components/api/src/backends/mod.rs
  components/api/src/cors.rs
  components/api/src/error.rs
  components/api/src/lib.rs
  components/api/src/manager.rs
  components/api/src/with.rs
  components/system-api/Cargo.toml
  components/system-api/LICENSE
  components/system-api/README.md
  components/system-api/src/lib.rs
  components/system-api/src/private.rs
  components/system-api/src/public.rs
  components/system-api/tests/system_api.rs
  examples/cryptocurrency/Cargo.toml
  examples/cryptocurrency/examples/demo.rs
  examples/sample_runtime/src/main.rs
  exonum/Cargo.toml
  exonum/src/api/manager.rs
  exonum/src/api/node/public/mod.rs
  exonum/src/lib.rs
  exonum/src/node/consensus.rs
  exonum/src/node/mod.rs
  exonum/src/node/plugin.rs
  exonum/src/runtime/dispatcher/schema.rs
  runtimes/rust/src/api.rs
  runtimes/rust/src/lib.rs
  services/supervisor/tests/simple.rs
  services/supervisor/tests/supervisor/main.rs
  test-suite/consensus-tests/src/lib.rs
  test-suite/node-tests/src/node.rs
  test-suite/testkit/src/api.rs
  test-suite/testkit/src/builder.rs
  test-suite/testkit/src/lib.rs
Labels: breaking change :warning:, cli, core, discussion :speech_balloon:

#1694 Clarify why not 'entry':
  components/merkledb/src/migration.rs
Labels: documentation, merkledb

#1692 Improve ExecutionError docs in runtime.proto
  exonum/src/proto/schema/exonum/runtime.proto
Labels: documentation

#1697 Improve runtime docs
  .travis.yml
  cli/src/lib.rs
  components/derive/src/service_dispatcher.rs
  components/derive/src/service_factory.rs
  components/explorer/tests/blockchain/mod.rs
  examples/cryptocurrency-advanced/backend/tests/api.rs
  examples/cryptocurrency/src/lib.rs
  examples/timestamping/backend/src/lib.rs
  examples/timestamping/backend/src/transactions.rs
  examples/timestamping/backend/tests/api.rs
  exonum/src/runtime/mod.rs
  runtimes/rust/benches/criterion/block.rs
  runtimes/rust/src/error.rs
  runtimes/rust/src/lib.rs
  runtimes/rust/src/service.rs
  runtimes/rust/tests/blockchain_data.rs
  runtimes/rust/tests/runtime.rs
  services/explorer/src/api.rs
  services/explorer/src/lib.rs
  services/explorer/tests/counter/mod.rs
  services/explorer/tests/service_logic.rs
  services/middleware/src/lib.rs
  services/middleware/src/transactions.rs
  services/middleware/tests/inc/mod.rs
  services/middleware/tests/tx_logic.rs
  services/supervisor/src/api.rs
  services/supervisor/src/proto_structures.rs
  services/supervisor/src/transactions.rs
  services/supervisor/tests/simple.rs
  services/supervisor/tests/supervisor/config.rs
  services/supervisor/tests/supervisor/deploy_failures.rs
  services/supervisor/tests/supervisor/inc.rs
  services/supervisor/tests/supervisor/main.rs
  services/supervisor/tests/supervisor/service_lifecycle.rs
  services/time/examples/simple_service/main.rs
  services/time/src/transactions.rs
  test-suite/consensus-tests/src/lib.rs
  test-suite/testkit/examples/timestamping/main.rs
  test-suite/testkit/src/builder.rs
  test-suite/testkit/src/lib.rs
  test-suite/testkit/tests/migrations/main.rs
Labels: core, documentation, rust

#1695 Re-use #is_aborted method:
  components/merkledb/src/migration.rs
Labels: merkledb

#1700 Update sub-project readmes [ECR-3993]
  cli/LICENSE
  cli/README.md
  components/api/README.md
  components/build/Cargo.toml
  components/build/LICENSE
  components/build/README.md
  components/build/src/lib.rs
  components/crypto/Cargo.toml
  components/crypto/LICENSE
  components/crypto/README.md
  components/derive/Cargo.toml
  components/derive/LICENSE
  components/derive/README.md
  components/explorer/README.md
  components/keys/Cargo.toml
  components/keys/LICENSE
  components/keys/README.md
  components/proto/README.md
  examples/sample_runtime/README.md
  exonum-dictionary.txt
  services/explorer/README.md
  services/middleware/README.md
  services/supervisor/README.md
  services/supervisor/src/lib.rs
  test-suite/exonum-py-tests/LICENSE
  test-suite/exonum-py-tests/README.md
Labels: documentation

#1693 Resume previously stopped service [ECR-3773]
  CHANGELOG.md
  examples/sample_runtime/src/main.rs
  exonum/src/blockchain/tests.rs
  exonum/src/runtime/dispatcher/migration_tests.rs
  exonum/src/runtime/dispatcher/schema.rs
  exonum/src/runtime/dispatcher/tests.rs
  exonum/src/runtime/error/core_errors.rs
  exonum/src/runtime/error/mod.rs
  exonum/src/runtime/mod.rs
  runtimes/rust/src/lib.rs
  runtimes/rust/src/service.rs
  runtimes/rust/tests/basic.rs
  runtimes/rust/tests/inspected/mod.rs
  runtimes/rust/tests/migration.rs
  services/supervisor/tests/supervisor/deploy_failures.rs
  test-suite/testkit/tests/runtime.rs
Labels: breaking change :warning:, core, rust, supervisor, update changelog

#1702 Make the TemporaryDB more safety
  components/merkledb/src/backends/rocksdb.rs
  components/merkledb/src/backends/temporarydb.rs
Labels: bug :beetle:, merkledb

#1701 Add possibility to specify service method IDs [ECR-3896]
  CHANGELOG.md
  components/derive/src/exonum_interface.rs
  components/derive/src/lib.rs
  components/explorer/src/lib.rs
  components/explorer/tests/blockchain/mod.rs
  examples/cryptocurrency-advanced/backend/src/transactions.rs
  examples/cryptocurrency/src/lib.rs
  examples/timestamping/backend/src/transactions.rs
  runtimes/rust/benches/criterion/block.rs
  runtimes/rust/src/lib.rs
  runtimes/rust/tests/basic.rs
  runtimes/rust/tests/inspected/mod.rs
  runtimes/rust/tests/migration.rs
  services/explorer/src/api.rs
  services/explorer/src/api/websocket/mod.rs
  services/explorer/tests/counter/mod.rs
  services/middleware/src/lib.rs
  services/middleware/src/transactions.rs
  services/middleware/tests/inc/mod.rs
  services/supervisor/src/transactions.rs
  services/supervisor/tests/supervisor/inc.rs
  services/time/examples/simple_service/main.rs
  services/time/src/transactions.rs
  test-suite/consensus-tests/src/config_updater.rs
  test-suite/consensus-tests/src/timestamping.rs
  test-suite/testkit/examples/timestamping/main.rs
  test-suite/testkit/src/lib.rs
  test-suite/testkit/src/server.rs
  test-suite/testkit/tests/counter/counter.rs
  test-suite/testkit/tests/inflating_currency/inflating_cryptocurrency.rs
  test-suite/testkit/tests/interfaces/interface.rs
  test-suite/testkit/tests/interfaces/services.rs
  test-suite/testkit/tests/service_hooks/hooks.rs
Labels: breaking change :warning:, derive, rust, update changelog

#1705 Clarify docs in Blockchain schema [ECR-4063] [ECR-4098]
  exonum/src/blockchain/schema.rs
Labels: documentation

#1706 Add resume service support to supervisor [ECR-3773]
  CHANGELOG.md
  components/crypto/src/lib.rs
  exonum/src/runtime/dispatcher/schema.rs
  exonum/src/runtime/mod.rs
  services/supervisor/README.md
  services/supervisor/src/lib.rs
  services/supervisor/src/proto/service.proto
  services/supervisor/src/proto_structures.rs
  services/supervisor/src/transactions.rs
  services/supervisor/tests/supervisor/service_lifecycle.rs
Labels: supervisor, update changelog

#1708 Change type for precommits in BlockProof [ECR-4108]
  exonum/src/messages/signed.rs
  exonum/src/proto/mod.rs
  exonum/src/proto/schema/exonum/messages.proto
  exonum/src/proto/schema/exonum/proofs.proto
Labels: core

#1704 Forward-compatible auth [ECR-3932]
  components/crypto/src/macros.rs
  components/merkledb/src/indexes/proof_map/key.rs
  components/merkledb/src/indexes/proof_map/mod.rs
  examples/cryptocurrency-advanced/backend/Cargo.toml
  examples/cryptocurrency-advanced/backend/src/api.rs
  examples/cryptocurrency-advanced/backend/src/proto/service.proto
  examples/cryptocurrency-advanced/backend/src/schema.rs
  examples/cryptocurrency-advanced/backend/src/transactions.rs
  examples/cryptocurrency-advanced/backend/src/wallet.rs
  examples/cryptocurrency-advanced/backend/tests/api.rs
  examples/cryptocurrency-advanced/backend/tests/constants/mod.rs
  examples/cryptocurrency-advanced/backend/tests/multisig.rs
  examples/timestamping/backend/src/transactions.rs
  exonum/src/proto/schema/exonum/runtime.proto
  exonum/src/runtime/dispatcher/migration_tests.rs
  exonum/src/runtime/dispatcher/mod.rs
  exonum/src/runtime/dispatcher/tests.rs
  exonum/src/runtime/mod.rs
  exonum/src/runtime/types.rs
  runtimes/rust/src/call_context.rs
  runtimes/rust/tests/basic.rs
Labels: breaking change :warning:, core, rust

#1713 Fix segfault after TestKitApi dropping
  test-suite/testkit/Cargo.toml
  test-suite/testkit/src/api.rs
Labels: bug :beetle:, testkit

#1712 Add additional check in test
  test-suite/exonum-py-tests/exonum_tests/deploy.py
Labels: integration-tests

#1707 Transaction versioning [ECR-3896]
  CHANGELOG.md
  components/derive/src/exonum_interface.rs
  components/derive/src/lib.rs
  exonum/src/runtime/error/common_errors.rs
  exonum/src/runtime/mod.rs
  exonum/src/runtime/versioning.rs
  runtimes/rust/src/lib.rs
  test-suite/testkit/tests/removed_transaction/main.rs
  test-suite/testkit/tests/removed_transaction/service.rs
Labels: derive, documentation, rust

#1717 Add Resume CallType [ECR-4115]
  exonum/src/proto/schema/exonum/runtime.proto
  exonum/src/runtime/error/mod.rs
  exonum/src/runtime/error/tests.rs
  exonum/src/runtime/mod.rs
Labels: core

#1716 Brush up time service [ECR-4085]
  CHANGELOG.md
  examples/timestamping/backend/src/transactions.rs
  examples/timestamping/backend/tests/api.rs
  exonum-dictionary.txt
  services/time/README.md
  services/time/examples/exonum_time.rs
  services/time/examples/simple_service/main.rs
  services/time/src/api.rs
  services/time/src/lib.rs
  services/time/src/schema.rs
  services/time/src/time_provider.rs
  services/time/src/transactions.rs
  services/time/tests/test_exonum_time.rs
Labels: documentation, time, update changelog

#1715 Improve migrations [ECR-4080] [ECR-4081]
  components/merkledb/src/migration.rs
  exonum/src/runtime/migrations.rs
  test-suite/testkit/src/migrations.rs
  test-suite/testkit/tests/migrations/main.rs
Labels: documentation, merkledb, testkit

#1696 Implement refined HTTP errors [ECR-4101]
  components/api/Cargo.toml
  components/api/src/backends/actix.rs
  components/api/src/cors.rs
  components/api/src/error.rs
  components/api/src/lib.rs
  components/api/src/with.rs
  components/system-api/src/private.rs
  examples/cryptocurrency-advanced/backend/src/api.rs
  examples/cryptocurrency/src/lib.rs
  examples/cryptocurrency/tests/api.rs
  runtimes/rust/src/api.rs
  runtimes/rust/src/runtime_api.rs
  services/explorer/src/api.rs
  services/explorer/src/api/websocket/glue.rs
  services/explorer/tests/api.rs
  services/supervisor/src/api.rs
  services/supervisor/tests/supervisor/inc.rs
  services/supervisor/tests/supervisor/main.rs
  services/time/Cargo.toml
  services/time/src/api.rs
  test-suite/testkit/src/api.rs
  test-suite/testkit/src/server.rs
  test-suite/testkit/tests/api/api_service.rs
  test-suite/testkit/tests/api/main.rs
  test-suite/testkit/tests/counter/counter.rs
  test-suite/testkit/tests/inflating_currency/inflating_cryptocurrency.rs
  test-suite/testkit/tests/runtime_api/main.rs
Labels: core, testkit

#1722 Improve `access` docs in MerkleDB
  components/merkledb/src/access/extensions.rs
  components/merkledb/src/access/mod.rs
Labels: documentation, merkledb

#1711 Remove CallContext in favour of the ExecutionContext [ECR-4075]
  CHANGELOG.md
  components/derive/src/exonum_interface.rs
  components/derive/src/service_dispatcher.rs
  components/explorer/tests/blockchain/mod.rs
  examples/cryptocurrency-advanced/backend/src/lib.rs
  examples/cryptocurrency-advanced/backend/src/transactions.rs
  examples/cryptocurrency-advanced/backend/tests/multisig.rs
  examples/cryptocurrency/src/lib.rs
  examples/sample_runtime/src/main.rs
  examples/timestamping/backend/src/lib.rs
  examples/timestamping/backend/src/transactions.rs
  exonum-node/src/sandbox/config_updater.rs
  exonum-node/src/sandbox/timestamping.rs
  exonum/src/blockchain/tests.rs
  exonum/src/runtime/blockchain_data.rs
  exonum/src/runtime/dispatcher/migration_tests.rs
  exonum/src/runtime/dispatcher/mod.rs
  exonum/src/runtime/dispatcher/tests.rs
  exonum/src/runtime/error/core_errors.rs
  exonum/src/runtime/execution_context.rs
  exonum/src/runtime/mod.rs
  package-lock.json
  runtimes/rust/benches/criterion/block.rs
  runtimes/rust/src/call_context.rs
  runtimes/rust/src/lib.rs
  runtimes/rust/src/service.rs
  runtimes/rust/src/stubs.rs
  runtimes/rust/tests/basic.rs
  runtimes/rust/tests/inspected/mod.rs
  runtimes/rust/tests/migration.rs
  services/explorer/src/api.rs
  services/explorer/src/api/websocket/mod.rs
  services/explorer/src/lib.rs
  services/explorer/tests/counter/mod.rs
  services/middleware/src/transactions.rs
  services/middleware/tests/inc/mod.rs
  services/supervisor/examples/configuration_change.rs
  services/supervisor/src/configure.rs
  services/supervisor/src/lib.rs
  services/supervisor/src/transactions.rs
  services/supervisor/tests/simple.rs
  services/supervisor/tests/supervisor/deploy_failures.rs
  services/supervisor/tests/supervisor/inc.rs
  services/time/examples/simple_service/main.rs
  services/time/src/transactions.rs
  test-suite/testkit/examples/timestamping/main.rs
  test-suite/testkit/src/lib.rs
  test-suite/testkit/src/server.rs
  test-suite/testkit/tests/counter/counter.rs
  test-suite/testkit/tests/inflating_currency/inflating_cryptocurrency.rs
  test-suite/testkit/tests/interfaces/main.rs
  test-suite/testkit/tests/interfaces/services.rs
  test-suite/testkit/tests/removed_transaction/service.rs
  test-suite/testkit/tests/runtime.rs
  test-suite/testkit/tests/service_hooks/hooks.rs
Labels: breaking change :warning:, update changelog

#1724 Brush up main crate
  cli/src/config.rs
  cli/src/lib.rs
  components/explorer/examples/explorer.rs
  components/explorer/tests/blockchain/mod.rs
  exonum-node/src/consensus.rs
  exonum-node/src/sandbox/mod.rs
  exonum-node/src/sandbox/sandbox_tests_helper.rs
  exonum-node/src/sandbox/tests/old.rs
  exonum-node/src/sandbox/tests/round_details.rs
  exonum-node/src/sandbox/tests/transactions.rs
  exonum-node/src/sandbox/tests/unsynchronized_message.rs
  exonum-node/src/state.rs
  exonum/src/blockchain/api_sender.rs
  exonum/src/blockchain/block.rs
  exonum/src/blockchain/config.rs
  exonum/src/blockchain/mod.rs
  exonum/src/blockchain/schema.rs
  exonum/src/blockchain/tests.rs
  exonum/src/helpers/mod.rs
  exonum/src/helpers/ordered_map.rs
  exonum/src/helpers/types.rs
  exonum/src/lib.rs
  exonum/src/messages/mod.rs
  exonum/src/messages/signed.rs
  exonum/src/messages/types.rs
  exonum/src/proto/macros.rs
  exonum/src/proto/mod.rs
  exonum/src/proto/schema/exonum/key_value_sequence.proto
  exonum/src/proto/schema/mod.rs
  exonum/src/runtime/dispatcher/migration_tests.rs
  exonum/src/runtime/dispatcher/mod.rs
  exonum/src/runtime/dispatcher/tests.rs
  exonum/src/runtime/error/error_match.rs
  exonum/src/runtime/error/execution_error.rs
  exonum/src/runtime/error/mod.rs
  exonum/src/runtime/error/tests.rs
  exonum/src/runtime/execution_context.rs
  exonum/src/runtime/migrations.rs
  exonum/src/runtime/mod.rs
  exonum/src/runtime/types.rs
  exonum/src/runtime/versioning.rs
  runtimes/rust/benches/criterion/block.rs
  runtimes/rust/src/api.rs
  runtimes/rust/tests/blockchain_data.rs
  runtimes/rust/tests/inspected/mod.rs
  services/explorer/tests/api.rs
  test-suite/testkit/src/lib.rs
Labels: core, documentation

#1725 Improve overall docs
  ARCHITECTURE.md
  CONTRIBUTING.md
  README.md
  exonum-dictionary.txt
Labels: documentation

#1731 Clarify `InstanceState` protobuf message documentation [ECR-4053]
  exonum/src/proto/schema/exonum/runtime.proto
  exonum/src/runtime/types.rs
Labels: core, documentation

#1730 Add more tests for "resume" operation
  test-suite/exonum-py-tests/exonum_tests/api.py
  test-suite/exonum-py-tests/exonum_tests/crypto_advanced.py
  test-suite/exonum-py-tests/exonum_tests/deploy.py
  test-suite/exonum-py-tests/suite/common.py
  test-suite/exonum-py-tests/suite/crypto_advanced_client.py
  test-suite/exonum-py-tests/suite/exonum.py
  test-suite/exonum-py-tests/suite/process_manager.py
Labels: integration-tests

#1728 Add maintenance command to restart migration script [ECR-4095]
  CHANGELOG.md
  cli/src/command/maintenance.rs
  cli/src/lib.rs
  cli/tests/cli.rs
  exonum/src/runtime/dispatcher/migration_tests.rs
  exonum/src/runtime/dispatcher/mod.rs
  exonum/src/runtime/dispatcher/schema.rs
  exonum/src/runtime/mod.rs
Labels: cli, core, update changelog

#1734 Document system API [ECR-4149]
  components/system-api/Cargo.toml
  components/system-api/src/lib.rs
  components/system-api/src/private.rs
  components/system-api/src/public.rs
Labels: documentation

#1738 Clarify commit / flush split for migrations [ECR-4148]
  components/merkledb/src/migration.rs
  exonum/src/runtime/migrations.rs
Labels: core, documentation, merkledb

#1727 Support migrations in supervisor [ECR-4123]
  CHANGELOG.md
  components/crypto/src/proto/mod.rs
  exonum/src/helpers/mod.rs
  exonum/src/runtime/mod.rs
  exonum/src/runtime/types.rs
  services/supervisor/Cargo.toml
  services/supervisor/src/api.rs
  services/supervisor/src/errors.rs
  services/supervisor/src/event_state.rs
  services/supervisor/src/lib.rs
  services/supervisor/src/migration_state.rs
  services/supervisor/src/mode.rs
  services/supervisor/src/multisig.rs
  services/supervisor/src/proto/schema.proto
  services/supervisor/src/proto/service.proto
  services/supervisor/src/proto_structures.rs
  services/supervisor/src/schema.rs
  services/supervisor/src/transactions.rs
  services/supervisor/tests/supervisor/deploy_failures.rs
  services/supervisor/tests/supervisor/main.rs
  services/supervisor/tests/supervisor/migrations/migration_service.rs
  services/supervisor/tests/supervisor/migrations/mod.rs
  services/supervisor/tests/supervisor/service_lifecycle.rs
  test-suite/testkit/src/builder.rs
Labels: supervisor, update changelog

#1741 Document supervisor api [ECR-4149]
  services/supervisor/README.md
  services/supervisor/src/api.rs
  services/supervisor/src/lib.rs
  services/supervisor/tests/supervisor/deploy_failures.rs
  services/supervisor/tests/supervisor/migrations/mod.rs
  test-suite/testkit/src/api.rs
Labels: documentation, supervisor

#1743 Breaking changes regarding Merkelized maps [ECR-3485]
  CHANGELOG.md
  components/merkledb/src/hash.rs
  components/merkledb/src/indexes/proof_map/key.rs
  components/merkledb/src/indexes/proof_map/mod.rs
  components/merkledb/src/indexes/proof_map/tests.rs
  components/merkledb/src/proto/list_proof.proto
  components/merkledb/src/proto/map_proof.proto
  components/merkledb/src/proto/mod.rs
Labels: breaking change :warning:, merkledb

#1746 Fix path in supervisor docs
  services/supervisor/src/api.rs
Labels: documentation

#1744 Move ProtobufConvert tests out of main crate [ECR-4089]
  Cargo.toml
  exonum/src/proto/mod.rs
  exonum/src/proto/schema/mod.rs
  test-suite/rust-runtime-api/src/proto/test_service.proto
  test-suite/rust-runtime-proto/Cargo.toml
  test-suite/rust-runtime-proto/README.md
  test-suite/rust-runtime-proto/build.rs
  test-suite/rust-runtime-proto/src/lib.rs
  test-suite/rust-runtime-proto/src/proto/mod.rs
  test-suite/rust-runtime-proto/src/proto/tests.proto
  test-suite/rust-runtime-proto/src/service.rs
  test-suite/rust-runtime-proto/src/tests.rs
Labels: core, testkit

#1733 Prevent access to blockchain data after execution error [ECR-4033]
  CHANGELOG.md
  exonum/src/runtime/dispatcher/migration_tests.rs
  exonum/src/runtime/dispatcher/mod.rs
  exonum/src/runtime/dispatcher/tests.rs
  exonum/src/runtime/error/core_errors.rs
  exonum/src/runtime/error/mod.rs
  exonum/src/runtime/execution_context.rs
  test-suite/testkit/tests/interfaces/main.rs
  test-suite/testkit/tests/interfaces/schema.rs
  test-suite/testkit/tests/interfaces/services.rs
Labels: core, update changelog

#1747 Generic access enumerations [ECR-4174]
  components/merkledb/src/access/mod.rs
  components/merkledb/src/generic.rs
  components/merkledb/src/lib.rs
  components/merkledb/src/migration.rs
  components/merkledb/src/views/mod.rs
Labels: discussion :speech_balloon:, merkledb

#1757 Fix TestKit server crashes
  test-suite/testkit/src/api.rs
Labels: bug :beetle:, testkit
